<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, maximum-scale=1, initial-scale=1, minimum-scale=1">
    <meta name="google-site-verification" content="_R8I-RGDZMSiRXzHKQZPaj-FX7Xj606Ng71srOkltUA" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84697330-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<template name="StaticLayout">
    {{#if currentUser}}
      {{ > nav}}
      {{#unless profileSet}}
        <div class="alert alert-info col-xs-12">
          <strong>Please update your profile, you cannot create or join a Campaign unless your profile is updated.</strong>
        </div>
      {{/unless}}
      {{#if degenerateProfile}}
        <div class="alert alert-warning col-xs-12">
          <strong>You must define your role(s) in profile settings to be eligible for participation in campaigns.</strong>
        </div>
      {{/if}}
      {{ > yield }}
      <div style="position:relative;top:60px">
        {{ > footer }}
      </div>
    {{else}}
      
    {{/if}}
</template>

<template name="SplashLayout">
    {{ > splashPage }}
</template>


<template name='BoardsLayout'> 
    <div id="surface">
        <div id="header">
            {{ > memberHeader }}
        </div>
        {{ > warning }}
        <div id="content">
            {{ > yield }}
        </div>
    </div>
</template>

<template name="search">
    <div id="header-search">
        <label for="search-text">{{_ "global-search"}}</label>
        <input id="search-text" type="text" autocomplete="off" autocorrect="off" spellcheck="false">
        <input id="search-submit" type="submit" value="{{ _ 'search'}}">
        <a class="header-btn header-search js-search-submit" href="#" title="{{ _ 'search-title'}}">
            <span class="header-btn-icon icon-lg fa fa-search light"></span>
        </a>
    </div>
</template>

<template name='loading'>
    <div class="tabbed-pane-main-col-loading js-loading-page">
        <span class="tabbed-pane-main-col-loading-spinner spinner"></span>
    </div>
</template>

<template name='loadingNonBoard'>
    {{> spinner}}
</template>

<template name="notfound">
    {{ > message label='page-not-found'}}
</template>

<template name='message'>
    <div class="big-message quiet {{ color }}">
        <h1>{{_ label}}</h1>
        <p>{{{_ 'page-maybe-private' this}}}</p>
    </div>
</template>

<template name="warning">
    {{# if session 'warning' }}
        <div class="header-banner header-banner-warning">
            <p class="bottom">
                <span class="inline-block">{{ warning.desc }}</span>
                <span class="inline-block">
                    <a class="button primary" href="{{ pathFor route='Signup' }}" style="margin: 0 4px;">
                        {{_ 'warning-signup'}}
                    </a>
                </span>
            </p>
        </div>
    {{/if}}
</template>

<template name="popup">
    <div class="lessenpopup pop-over clearfix {{# unless title}}miniprofile{{/unless}}" style="display: block; left: {{ offset.left }}px; top: {{ offset.top }}px;">
        <div class="header clearfix">
            {{#if hasPopupParent}}
                <a class="back-btn js-back-view" href="#">
                    <span class="icon-sm fa fa-chevron-left"></span>
                </a>
            {{/if}}
            <span class="header-title">{{ title }}</span>
            <a class="close-btn js-close-popover" href="#">
                <span class="icon-sm fa fa-times"></span>
            </a>
        </div>
        <div class="content clearfix fancy-scrollbar js-tab-parent" style="max-height: 90%;">
            {{> UI.dynamic template=popupName data=dataContext }}
        </div>
    </div>
</template>

<template name="editor">
    <textarea class="{{class}}" placeholder="{{_ 'comment-placeholder'}}" id="{{id}}" tabindex="1">{{> UI.contentBlock }}</textarea>
</template>

<template name="viewer">{{#markdown}}{{#emoji}}{{#mentions}}{{> UI.contentBlock }}{{/mentions}}{{/emoji}}{{/markdown}}</template>

<template name="signin">
    {{#if finishedLoading}}
        <button class="login" style="width:100%; height:100%;">Sign In</button>
    {{/if}}
</template>

<template name="splashPage">

  <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
  <!-- <body class="landing">
    <div id="page-wrapper"> -->

      <!-- Header -->
<!--         <header id="header">
          <h1 id="logo"></h1>
          <nav id="nav">
            <ul>
              <li><a href="#" class="button special login">Sign In</a></li>
            </ul>
          </nav>
        </header> -->

      <!-- Banner -->

        <section id="banner">
          <a href="#" class="button login" style="background-color:aquamarine;position:inherit;top:20px;width:90%;">Sign In</a>
          <div class="content">
            <header>
              <!-- <h2>The future has landed</h2>
              <p>And there are no hoverboards or flying cars.<br />
              Just apps. Lots of mother flipping apps.</p> -->
            </header>
            <!-- <span class="image"><img src="img/pic01.jpg" alt="" /></span> -->
          </div>

          <a href="#one" class="goto-next scrolly">Next</a>
        </section>

      <!-- One -->
        <section id="one" class="spotlight style1 bottom">
          <span class="image fit main"><img src="../../img/pic03.jpg" alt="" /></span>
          <div class="content">
            <div class="container">
              <div class="row">
                <div class="4u 12u$(medium)">
                  <header>
                    <h2>PRODUCTION</h2>
                    <p>Create campaigns</p>
                  </header>
                </div>
                <div class="8u 24u$(medium)">
                  <ul style="list-style-type: none">
                    <li>crowdfund your budget</li>
                    <hr>
                    <li>crowdsource cast &amp; crew from top candidates</li>
                    <hr>
                    <li>lend production resources to help with projects</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a href="#two" class="goto-next scrolly">Next</a>
        </section>

      <!-- Two -->
        <section id="two" class="spotlight style2 miniheight right">
          <span class="image fit main"><img src="../../img/pic02.jpg" alt="" /></span>
          <div class="content">
            <header>
              <h2>EXPLORE</h2>
              <p>Find exciting opportunities</p>
            </header>
            <ul style="list-style-type: none">
              <li>contribute financing, resources, &amp; expertise</li>
              <hr>
              <li>promote yourself, land paid gigs</li>
              <hr>
              <li>build your portfolio and jumpstart your career</li>
            </ul>
            <!-- <ul class="actions">
              <li><a href="#" class="button">Learn More</a></li>
            </ul> -->
          </div>
          <a href="#three" class="goto-next scrolly">Next</a>
        </section>

      <!-- Three -->
        <section id="three" class="spotlight style3 left">
          <span class="image fit main bottom"><img src="../../img/pic04.jpg" alt="" /></span>
          <div class="content">
            <header>
              <h2>COMMUNITY</h2>
              <p>Creative collaboration</p>
            </header>
            <ul style="list-style-type: none">
              <li>contributors and filmmakers collaborate through backend project management system to manage productions from start to finish</li>
              <hr>
              <li>secure file management and communication</li>
              <hr>
              <li>access to network of mentors and experts to help along the way; workshops to utilize license-free technologies for your productions</li>
            </ul>
            <!-- <ul class="actions">
              <li><a href="#" class="button">Learn More</a></li>
            </ul> -->
          </div>
          <a href="#four" class="goto-next scrolly">Next</a>
        </section>

      <!-- Four -->
        <section id="four" class="wrapper style1 special fade-up">
          <div class="container">
            <header class="major">
              <h2>FEATURED PROJECTS</h2>
              <p>Coming Soon ..</p>
            </header>
            <div class="box alt">
              <div class="row uniform">
                <!-- <section class="4u 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-area-chart"></span>
                  <h3>Ipsum sed commodo</h3>
                  <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-comment"></span>
                  <h3>Eleifend lorem ornare</h3>
                  <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                </section>
                <section class="4u$ 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-flask"></span>
                  <h3>Cubilia cep lobortis</h3>
                  <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-paper-plane"></span>
                  <h3>Non semper interdum</h3>
                  <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                </section>
                <section class="4u 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-file"></span>
                  <h3>Odio laoreet accumsan</h3>
                  <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                </section>
                <section class="4u$ 6u$(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-lock"></span>
                  <h3>Massa arcu accumsan</h3>
                  <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                </section> -->
              </div>
            </div>
            <footer class="major">
              <ul class="actions">
                <li><a href="#" class="button login">Register Today!</a></li>
              </ul>
            </footer>
          </div>
        </section>

      <!-- Five -->
        <section id="five" class="wrapper style2 special fade-up">
          <div class="container">
            <header>
              <h2>Join our email list</h2>
              <p>Stay up-to-date with news and releases</p>
            </header>
            <form method="post" action="#" class="container 50%">
              <div class="row uniform 50%">
                <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
              </div>
            </form>
          </div>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <ul class="icons">
            <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <a class="navbar-brand" href="https://www.meetup.com/Open-Source-Hollywood/">
            <img alt="meetup" src="/img/logos/meetup.png" style="position:relative;max-width:150%;max-height:150%;bottom:3px;float:left;"><span class="navbar-brand_span">&nbsp;&nbsp;As seen on Meetup</span>
          </a>
          <ul class="copyright">
            <li>2017 &copy; Open Source Hollywood.</li><li>All rights reserved.</li>
          </ul>
        </footer>

    <!-- </div> -->

    <!-- Scripts -->
      <script src="js/jquery.scrolly.min.js"></script>
      <script src="js/jquery.dropotron.min.js"></script>
      <script src="js/jquery.scrollex.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
      <script src="js/main.js"></script>

  <!-- </body> -->


</template>