<template name="StaticLayout">
  <div id="page-wrapper">
    {{ > nav}}


    {{ > yield }}
    <div style="position:relative;top:60px">
      {{ > footer }}
    </div>
  </div>

</template>

<template name="SplashLayout">
    {{ > splashPage }}
</template>

<template name='BoardsLayout'> 

    <div id="surface">
        <div id="header">
            {{ > memberHeader }}
        </div>
        {{ > warning }}
        <div id="content">
            {{ > yield }}
        </div>
    </div>
</template>

<template name="search">
    <div id="header-search">
        <label for="search-text">{{_ "global-search"}}</label>
        <input id="search-text" type="text" autocomplete="off" autocorrect="off" spellcheck="false">
        <input id="search-submit" type="submit" value="{{ _ 'search'}}">
        <a class="header-btn header-search js-search-submit" href="#" title="{{ _ 'search-title'}}">
            <span class="header-btn-icon icon-lg fa fa-search light"></span>
        </a>
    </div>
</template>

<template name='loading'>
    <div class="tabbed-pane-main-col-loading js-loading-page">
        <span class="tabbed-pane-main-col-loading-spinner spinner"></span>
    </div>
</template>

<template name='loadingNonBoard'>
    {{> spinner}}
</template>

<template name="notfound">
    {{ > message label='page-not-found'}}
</template>

<template name='message'>
    <div class="big-message quiet {{ color }}">
        <h1>{{_ label}}</h1>
        <p>{{{_ 'page-maybe-private' this}}}</p>
    </div>
</template>

<template name="warning">
    {{# if session 'warning' }}
        <div class="header-banner header-banner-warning">
            <p class="bottom">
                <span class="inline-block">{{ warning.desc }}</span>
                <span class="inline-block">
                    <a class="button primary" href="{{ pathFor route='Signup' }}" style="margin: 0 4px;">
                        {{_ 'warning-signup'}}
                    </a>
                </span>
            </p>
        </div>
    {{/if}}
</template>

<template name="popup">
    <div class="lessenpopup pop-over clearfix {{# unless title}}miniprofile{{/unless}}" style="display: block; left: {{ offset.left }}px; top: {{ offset.top }}px;">
        <div class="header clearfix">
            {{#if hasPopupParent}}
                <a class="back-btn js-back-view" href="#">
                    <span class="icon-sm fa fa-chevron-left"></span>
                </a>
            {{/if}}
            <span class="header-title">{{ title }}</span>
            <a class="close-btn js-close-popover" href="#">
                <span class="icon-sm fa fa-times"></span>
            </a>
        </div>
        <div class="content clearfix fancy-scrollbar js-tab-parent" style="max-height: 90%;">
            {{> UI.dynamic template=popupName data=dataContext }}
        </div>
    </div>
</template>

<template name="editor">
    <textarea class="{{class}}" placeholder="{{_ 'comment-placeholder'}}" id="{{id}}" tabindex="1">{{> UI.contentBlock }}</textarea>
</template>

<template name="viewer">{{#markdown}}{{#emoji}}{{#mentions}}{{> UI.contentBlock }}{{/mentions}}{{/emoji}}{{/markdown}}</template>

<template name="signin">
    {{#if finishedLoading}}
        <button class="login" style="width:100%; height:100%;">Sign In</button>
    {{/if}}
</template>

<template name="splashPage">
    <div id="page-wrapper">

      {{>nav}}

      <!-- Banner -->
      <section id="banner">
        
        <div class="content">
          <header>
            <!-- <h2>The future has landed</h2>
            <p>And there are no hoverboards or flying cars.<br />
            Just apps. Lots of mother flipping apps.</p> -->
          </header>
          <!-- <span class="image"><img src="img/pic01.jpg" alt="" /></span> -->
          <!-- <a href="#" class="button special login">Sign In</a> -->
        </div>

        <a href="#one" class="goto-next scrolly">Next</a>
      </section>

      <!-- INTRO / ABOUT US -->
      <section id="zero" class="wrapper style1 special fade-up">
          <div class="container">
            <h1>Crowdsourced Media &amp; Project Management</h1>
          </div>
          <div class="container">
            <header class="major">
              <h2>What is crowdsourced media?</h2>
              <p>build teams, fund campaigns, and manage productions with collaborations</p><p>Includes a <strong>full</strong> project management backend all at <strong>no cost</strong> .. ever!</p>
            </header>
            <div class="box alt">
              <div class="row uniform">
                <section class="4u 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-area-chart"></span>
                  <h3>Track Progress</h3>
                  <p>Easy-to-use interface for building teams, and managing campaigns, funds, &amp; assets  .</p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-users"></span>
                  <h3>Team Building</h3>
                  <p>Single click fee, equity, and donation offers for cast &amp; crew positions.</p>
                </section>
                <section class="4u$ 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-copyright"></span>
                  <h3>Autonomy Plus</h3>
                  <p>Your work is 100% yours, we may connect you with major streaming outlets.</p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-gift"></span>
                  <h3>Marketplace</h3>
                  <p>Super convenient interface to buy &amp; sell gifts and items to raise funds.</p>
                </section>
                <section class="4u 6u(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-wrench"></span>
                  <h3>Resource Sharing</h3>
                  <p>Offer to lend resources. Negotiate and participate on your own terms and conditions.</p>
                </section>
                <section class="4u$ 6u$(medium) 12u$(xsmall)">
                  <span class="icon alt major fa-lock"></span>
                  <h3>Secure CRM</h3>
                  <p>FIPS140-2 compliant secure backend: we make team and assets management simple and free.</p>
                </section>
              </div>
            </div>
            <footer class="major">
              <ul class="actions">
                <li><a class="button login">REGISTER OR SIGN IN RISK-FREE</a></li>
              </ul>
            </footer>
          </div>
        </section>

      <!-- One -->
      <section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img src="../../img/pic03.jpg" alt="" /></span>
        <div class="content">
          <!-- <div class="container"> -->
          <header>
            <h2 class="align-center">PRODUCTION</h2>
            <p class="align-center">Create campaigns</p>
          </header>
          <ul style="list-style-type: none">
            <li>crowdfund your budget</li>
            <hr>
            <li>crowdsource cast &amp; crew from top candidates</li>
            <hr>
            <li>lend production resources to help with projects</li>
          </ul>
          <!-- </div> -->
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
      </section>

      <!-- Two -->
      <section id="two" class="spotlight style2 miniheight right">
        <span class="image fit main"><img src="../../img/pic02.jpg" alt="" /></span>
        <div class="content">
          <header>
            <h2 class="align-center">EXPLORE</h2>
            <p class="align-center">Find exciting opportunities</p>
          </header>
          <ul style="list-style-type: none">
            <li>contribute financing, resources, &amp; expertise</li>
            <hr>
            <li>promote yourself, land paid gigs</li>
            <hr>
            <li>build your portfolio and jumpstart your career</li>
          </ul>
          <!-- <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
          </ul> -->
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
      </section>

      <!-- Three -->
      <section id="three" class="spotlight style3 left">
        <span class="image fit main bottom"><img src="../../img/pic04.jpg" alt="" /></span>
        <div class="content">
          <header>
            <h2 class="align-center">COMMUNITY</h2>
            <p class="align-center">Creative collaboration</p>
          </header>
          <ul style="list-style-type: none">
            <li>contributors and filmmakers collaborate through backend project management system to manage productions from start to finish</li>
            <hr>
            <li>secure file management and communication</li>
            <hr>
            <li>access to network of mentors and experts to help along the way; workshops to utilize license-free technologies for your productions</li>
          </ul>
          <!-- <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
          </ul> -->
        </div>
        <a href="#four" class="goto-next scrolly">Next</a>
      </section>

      <!-- Four -->
      <section id="four" class="wrapper style1 special fade-up">
        <div class="container">
          <header class="major">
            <h2>FEATURED PROJECTS</h2>
            <p>Coming Soon ..</p>
          </header>
          <div class="box alt">
            <div class="row uniform">
              <!-- <section class="4u 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-area-chart"></span>
                <h3>Ipsum sed commodo</h3>
                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
              </section>
              <section class="4u 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-comment"></span>
                <h3>Eleifend lorem ornare</h3>
                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
              </section>
              <section class="4u$ 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-flask"></span>
                <h3>Cubilia cep lobortis</h3>
                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
              </section>
              <section class="4u 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-paper-plane"></span>
                <h3>Non semper interdum</h3>
                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
              </section>
              <section class="4u 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-file"></span>
                <h3>Odio laoreet accumsan</h3>
                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
              </section>
              <section class="4u$ 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-lock"></span>
                <h3>Massa arcu accumsan</h3>
                <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
              </section> -->
            </div>
          </div>
          <footer class="major">
            <ul class="actions">
              <li><a href="#" class="button login">Register Today!</a></li>
            </ul>
          </footer>
        </div>
      </section>

      <!-- Five -->
      <section id="five" class="wrapper style2 special fade-up">
        <div class="container">
          <header>
            <h2>Join our email list</h2>
            <p>Stay up-to-date with news and releases</p>
          </header>
          <form class="container 50%">
            <div class="row uniform 50%">
              <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
              <div class="4u$ 12u$(xsmall)"><input id="subscribe" type="submit" value="Get Started" class="fit special" /></div>
            </div>
          </form>
        </div>
      </section>

      <!-- Footer -->
      {{>footer}}
    </div>

    <!-- Scripts -->
    <script src="js/main.js"></script>
    <script type="text/javascript">$('.login').on('click', function(){lock.show()});</script>

</template>