<template name="terms">
	<div class="container post-inner fadeIn" style="background-image: url('/img/header-bg.png');">
			
		<h1 class="name post-title entry-title" itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing"><span itemprop="name">Terms And Conditions</span></h1>
		<p class="post-meta"></p>
		<div class="clear"></div>
				
		<div class="entry">
			
			<p><strong>General Terms :</strong></p>
			<p>By using this service, you agree to waive your rights to hold produs.us, and affiliates, liable for any damages caused within the scope of the use of this service and/or it's generated projects.</p>
			<p>This service relies on the integrity of it's members. As a free service to the community, we rely on our members to maintain the highest ethical and moral standards during their production and creative processes. Violation of these standards will lead to a lifetime ban on the use of this service, and pursuit of appropriate legal actions when necessary.</p>
			<p><strong>Terms Of Service :</strong></p>
			<ul>
			<li>Projects are the sole responsibility of project creators and participants. All local, state, and federal jurisdictions apply during production, and violation is subject to legal remedy. Users waive their right to hold this service liable for any of the associated infractions caused during the preparation and production of projects.</li>
			<li>Your promise to contribute money may be a legal detriment once you have been approved on a project, and you are promising to pay the amount your records show you agreed upon your request for approval to the project.</li>
			<li>Users waive their rights to seek remedy resulting from the action of other members from this service.</li>
			<li>Financial disputes between members are not the liability or responsibility of this service; and users must settle disputes following the suggestions of legal counsel.</li>
			<li>Users should always proceed interactions with other members cautiously, and do so at their own risk.</li>
			<li>Incidents involving persons who use this site must be IMMEDIATELY reported to abuse@produs.us with a full description of the events, and relevant contact information.</li>
			<li>Your use of this service results in your consent to these terms as-is.</li>
			<li>By using this service, you verify you are at least 18 years old.</li>
			<li>Assignments and delegations are void.</li>
			<li>Modification of these terms are not allowed.</li>
			</ul>
			<p><strong>Exculpatory Clause :</strong></p>
			<ul>
			<li>By using this service, you excuse this service from any harms that may result.</li>
			</ul>
			<p><strong>Waiver of Legal Rights :</strong></p>
			<ul>
			<li>By using this service, you waive all legal rights to hold this service liable for any harms that may result.</li>
			<li>Users of this service waive their rights to hold produs.us, and affiliates, responsible for claims involving abuse from other members. All disputes between members should be handled by victims and plaintiffs via traditional legal routes.</li>
			</ul>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	</div>
</template>

<template name="privacy">
	<div class="container post-inner fadeIn" style="background-image: url('/img/header-pr.png');">
			
		<h1 class="name post-title entry-title" itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing"><span itemprop="name">Privacy Policy</span></h1>
		<p class="post-meta"></p>
		<div class="clear"></div>
				
		<div class="entry">
			
			<p><strong>Your Privacy is important to us.</strong></p>
			<p>Your information is never approved for sale to any third party.</p>
			<p>&nbsp;</p>
			<a href="/terms">Terms &amp; Conditions apply</a>
			<p>&nbsp;</p>
		</div>
	</div>
</template>