<template name="terms">
	<div id="main" class="wrapper style1">
      <div class="container">

      	<header class="major">
          <h2>Terms and Conditions</h2>
          <p>This agreement applies to everyone using Open Source Hollywood.</p>
      </header>
		<p class="post-meta"></p>
		<div class="clear"></div>
				
		<div class="entry">
			
			<p><strong>General Terms :</strong></p>
			<p>By using this service, you agree to waive your rights to hold Open Source Hollywood, and affiliates, liable for any damages caused within the scope of the use of this service and/or it's generated projects otherwise known as campaigns.</p>
			<p>This service relies on the integrity of it's members. As a free service available to the community, we rely on our members to maintain the highest ethical and moral standards during their production and creative processes. Violation of these standards will lead to a lifetime ban on the use of this service, and pursuit of appropriate legal actions when necessary.</p>
			<p><strong>Terms Of Service :</strong></p>
			<ul>
			<li>Campaigns are the sole responsibility of project creators and participants. All local, state, and federal jurisdictions apply during productions, and violations are subject to legal remedy. Users waive their right to hold this service liable for any of the associated infractions caused during the preparation, production, and actions resulting from the use of this service.</li>
			<li>Your promise to contribute money is a legal detriment. Gifts and donations are non-refundable.</li>
			<li>This service offers free high security storage for your files and project management, however, this service does not guarantee your files will not be lost especially in the beginning stages as we optimize our storage mechanisms for many users. Please download and backup all files and often.</li>
			<li>Conditional donations are non-refundable if you are elected to participate based on the conditional donation offer and expiration date. Conditional offers default to a 30 or 45 day expiration period unless otherwise specified by you.</li>
			<li>This service charges a non-refundable 5% on each money transfer. By accepting or delivering funds, you agree to the non-refundable money transfer fee.</li>
			<li>Users waive their rights to seek legal remedy from this service resulting from any action online or offline related to this service.</li>
			<li>Financial disputes between members are not the liability or responsibility of this service; and users must settle disputes following the suggestions of legal counsel.</li>
			<li>Users should always proceed interactions with other members cautiously, and do so at their own risk.</li>
			<li>Incidents involving persons who use this site must be IMMEDIATELY reported to abuse@opensourcehollywood.org with a full description of the events, and relevant contact information.</li>
			<li>Your use of this service results in your consent to these terms as-is.</li>
			<li>By using this service, you verify you are at least 18 years old.</li>
			<li>Assignments and delegations are void.</li>
			<li>Modification of these terms are not allowed.</li>
			</ul>
			<p><strong>Exculpatory Clause :</strong></p>
			<ul>
			<li>By using this service, you excuse this service from any harms that may result.</li>
			</ul>
			<p><strong>Waiver of Legal Rights :</strong></p>
			<ul>
			<li>By using this service, you waive all legal rights to hold this service liable for any harms that may result.</li>
			<li>Users of this service waive their rights to hold Open Source Hollywood, and affiliates, responsible for claims involving abuse from other members. All disputes between members should be handled by victims and plaintiffs via traditional legal routes.</li>
			</ul>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<h2 class="name post-title entry-title" itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing"><span itemprop="name">Privacy Policy</span></h2>
			<p class="post-meta"></p>
			<div class="clear"></div>
					
			<div class="entry">
				
				<p><strong>Your Privacy is important to us.</strong></p>
				<p>Your information is never approved for sale to any third party.</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
	</div>
</template>