<template name="terms">
	<div id="content" class="clearfix layout-fixed-width">

	    <div class="clearfix wrapper">

	        <header id="page-title">
	            <h1 class="title">Terms And Conditions</h1>
	            <h2 class="subtitle">All the of bells &amp; whistles for using this service!</h2></header>

	        <div class="normal-content no-boxed">
	            <div class="krown-column-row clearfix">
	                <div class="krown-column-container clearfix first span12 clearfix">
	                    <p><strong>General Terms :</strong></p>
						<p>By using this service, you agree to waive your rights to hold produs.us, and affiliates, liable for any damages caused within the scope of the use of this service and/or it's generated projects.</p>
						<p>This service relies on the integrity of it's members. As a free service to the community, we rely on our members to maintain the highest ethical and moral standards during their production and creative processes. Violation of these standards will lead to a lifetime ban on the use of this service, and pursuit of appropriate legal actions when necessary.</p>
						<p><strong>Terms Of Service :</strong></p>
						<ul>
						<li>Projects are the sole responsibility of project creators and participants. All local, state, and federal jurisdictions apply during production, and violation is subject to legal remedy. Users waive their right to hold this service liable for any of the associated infractions caused during the preparation and production of projects.</li>
						<li>Your promise to contribute money may be a legal detriment once you have been approved on a project, and you are promising to pay the amount your records show you agreed upon your request for approval to the project.</li>
						<li>Users waive their rights to seek remedy resulting from the action of other members from this service.</li>
						<li>Financial disputes between members are not the liability or responsibility of this service; and users must settle disputes following the suggestions of legal counsel.</li>
						<li>Users should always proceed interactions with other members cautiously, and do so at their own risk.</li>
						<li>Incidents involving persons who use this site must be IMMEDIATELY reported to aug2uag@gmail.com with a full description of the events, and relevant contact information.</li>
						<li>Your use of this service results in your consent to these terms as-is.</li>
						<li>By using this service, you verify you are at least 18 years old.</li>
						<li>Assignments and delegations are void.</li>
						<li>Modification of these terms are not allowed.</li>
						</ul>
						<p><strong>Exculpatory Clause :</strong></p>
						<ul>
						<li>By using this service, you excuse this service from any harms that may result.</li>
						</ul>
						<p><strong>Waiver of Legal Rights :</strong></p>
						<ul>
						<li>By using this service, you waive all legal rights to hold this service liable for any harms that may result.</li>
						<li>Users of this service waive their rights to hold produs.us, and affiliates, responsible for claims involving abuse from other members. All disputes between members should be handled by victims and plaintiffs via traditional legal routes.</li>
						</ul>
						<p>&nbsp;</p>
	                </div>
	            </div>
	        </div>
	        <!-- Inner Wrapper End -->
	    </div>
	    <!-- Main Wrapper End -->
	</div>
</template>


<template name="contactus">
	<div id="content" class="clearfix layout-fixed-width">

	    <div class="clearfix wrapper">

	        <header id="page-title">
	            <h1 class="title">Contact Us</h1>
	            <h2 class="subtitle">Questions, feedback, and technical issues.</h2></header>

	        <div class="normal-content no-boxed">
	            <div class="krown-column-row clearfix">
	                <div class="krown-column-container clearfix first span12 clearfix">
	                    <h3>by email: aug2uag@gmail.com</h3>
	                    <h3>by phone: (818) 571-3626</h3>
						<p>&nbsp;</p>
	                </div>
	            </div>
	        </div>
	        <!-- Inner Wrapper End -->
	    </div>
	    <!-- Main Wrapper End -->
	</div>
</template>


<template name="aboutus">
	<div id="content" class="clearfix layout-fixed-width">

	    <div class="clearfix wrapper">

	        <header id="page-title">
	            <h1 class="title">About Us</h1>
	            <h2 class="subtitle">Team Open Source Hollywood.</h2></header>

	        <div class="normal-content no-boxed">
	            <div class="krown-column-row clearfix">
	            	<div class="krown-column-container clearfix span4 clearfix">
	                    <section class="krown-twitter clearfix rotenabled">
	                        <img src="/img/nova.jpg" alt="Nova Gholar">
	                        <a href="https://www.instagram.com/novagholar/"><h5>Nova Gholar</h5></a>
	                        <a href="https://www.instagram.com/novagholar/"><span>@novagholar</span></a>
	                    </section>
	                </div>
	                <div class="krown-column-container clearfix span4 clearfix">
	                    <section class="krown-twitter clearfix rotenabled">
	                        <img src="/img/rex.jpeg" alt="Rex Fatahi">
	                        <a href="https://linkedin.com/in/fatahi"><h5>Rex Fatahi</h5></a>
	                        <a href="https://twitter.com/aug2uag"><span>@aug2uag</span></a>
	                    </section>
	                </div>
	                <div class="krown-column-container clearfix span4 clearfix">
	                    <section class="krown-twitter clearfix rotenabled">
	                        <img src="/img/jt.jpg" alt="JT Nelson">
	                        <a href="http://www.socalblender.org/"><h5>JT Nelson</h5></a>
	                        <a href="https://www.meetup.com/members/215487347/"><span>@JTNelson</span></a>
	                    </section>
	                </div>
	            </div>
	        </div>
	        <!-- Inner Wrapper End -->
	    </div>
	    <!-- Main Wrapper End -->
	</div>
</template>

<template name="privacy">

	<div id="content" class="clearfix layout-fixed-width">

	    <div class="clearfix wrapper">

	        <header id="page-title">
	            <h1 class="title">Privacy Policy</h1>
	            <h2 class="subtitle">We don't store or make your info available to others.</h2></header>

	        <div class="normal-content no-boxed">
	            <div class="krown-column-row clearfix">
	                <div class="krown-column-container clearfix first span12 clearfix">
	                    <p><strong>Your Privacy is important to us.</strong></p>
						<p>Your information is never approved for sale to any third party.</p>
						<p>&nbsp;</p>
						<a href="https://stripe.com">We use STRIPE for handling your payments.</a>
						<p>What does this mean to you?</p>
						<ul>
							<li>Your credit card data is ONLY uploaded to Stripe .. otherwise we get in major trouble.</li>
							<li>Your bank data is ONLY uploaded and stored by Stripe .. otherwise we get in major trouble again.</li>
							<li>Stripe is used by major applications including Instacart, Lyft, Shopzilla, and others.</li>
							<li>Stripe utilization fulfills international banking and privacy laws and regulations.</li>
							<li>Your private and sensitive data is NEVER collected or stored by us, we send the data to STRIPE and they make payments possible for us.</li>
						</ul>
						<a href="https://auth0.com">We use AUTH0 for handling your login authentication.</a>
						<p>What does this mean to you?</p>
						<ul>
							<li>Your login password and credentials are never stored by us.</li>
							<li>Your authentication data is ONLY uploaded and stored by Auth0 .. otherwise major problems for us.</li>
							<li>Auth0 is used by major organizations including Siemens, Mozilla, and others .. <a href="https://auth0.com/customers">check it out for yourself</a>.</li>
							<li>Auth0 utilizes the best practices for single point of login, no need to have your private information and passwords stored everywhere.</li>
							<li>Social media login uses OAuth protocol, and your password and sensitive information in ONLY relayed to the social media provider.</li>
						</ul>
	                </div>
	            </div>
	        </div>
	        <!-- Inner Wrapper End -->
	    </div>
	    <!-- Main Wrapper End -->
	</div>

</template>