<template name="profile">
	<div id="page-wrapper">
	  <div id="main" class="wrapper style1">
	      <div class="container">
	          <header class="major">
	              <h2><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;{{name}}</h2>
	              <p>{{role}}</p>
	          </header>
	          <section>
		      {{ #if hasIAM }}
			    <ul class="tabs">
			      {{ #each iam }}
			      <li class="tab"><p class="uis">{{ this }}</p></li>
			      {{ /each }}
			    </ul>
			  {{ /if }}
				<div class="content">
			      	<div class="col-md-6">
						<img src="{{ avatar }}" width="50%" alt="user avatar" />
						<div class="post-text">
							<h5>Score: {{influenceScore}}</h5>
							<h5>Rating: {{rating}}/5</h5>
							<p>Joined: {{createdAt}} </p>
							{{ #if hasWebsite }}
							<p><a href="{{ website }}" target="_blank">Website</a></p>
							{{ /if }}
						</div>
					</div>
					<div class="tab-panes">
				      <div class="tab-pane">
				      	{{ #if hasInterests }}
				        <h2>Interests</h2>
				        <canvas id="skills-radar" class="skills-radar"></canvas>
				        {{ /if }}
				        <br>
				        <h2>Bio</h2>
				        <p class="makeroom">{{bio}}</p>
				      </div>
				    </div>
				</div>
				<div class="tab-panes-2">
			      <div class="tab-pane">
			        <h2>Previous Projects</h2>
			      </div>
			    </div>
				<ul class="alt">
					{{#each userProjects}}
					<li><a href="/projects/{{slug}}/{{ownerId}}" style="font-size: 1.5em;">{{title}}</a></li>
					{{else}}
					<li><a style="font-size: 1.5em;">N / A</a></li>
					{{/each}}
				</ul>
				<div class="content">
					<div class="tab-panes-2">
				      <div class="tab-pane">
				        <h2>Social Media &amp; Links</h2>
				      </div>
				    </div>
				  <div class="table-wrapper">
				    <table>
				      <tbody>
				      	{{ #each social }}
					        <tr>
					          <td><p class="align-center">{{this.name}}</p></td>
					          <td><p class="align-center">{{this.address}}</p></td>
					        </tr>
					    {{ else }}
					        <tr>
					          <td><p class="align-center">N / A</p></td>
					        </tr>
					    {{ /each }}
				      </tbody>
				    </table>
				  </div>
				</div>
	          </section>
	      </div>
	  </div>
	</div>
</template>