<template name="settings">
	{{#if currentUser}}
	
	<div id="page-wrapper">
        <!-- Main -->
        {{foo}}
        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <h2>Edit Profile</h2>
                    <p>Share what others will see.</p>
                </header>

                <!-- Text -->
                <section>
                    <h3>General Information</h3>
                    <hr />
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="firstname" id="first_name" value="" placeholder="{{ first_name }}" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="text" name="lastname" id="last_name" value="" placeholder="{{ last_name }}" />
                        </div>

                        <div class="12u$">
                            <textarea name="bio" id="bio" placeholder="{{ bio }}" rows="6"></textarea>
                        </div>


                        <div class="12u$">
                            <div class="select-wrapper">
                              <select name="category" id="category">
                                <option>- Primary Role -</option>
                                <option value="1">Producer</option>
                                <option value="1">Director</option>
                                <option value="1">Writer</option>
                                <option value="1">Actor</option>
                                <option value="1">Video</option>
                                <option value="1">Audio</option>
                                <option value="1">SFX</option>
                                <option value="1">Support</option>
                                <option value="1">Viewer</option>
                              </select>
                            </div>
                        </div>


                    </div>


                    <br>
                    <br>
                    <h2>Additional Roles</h2>
                    <hr />


                    <div class="row uniform 50%">

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Producer" name="Producer">
                        <label for="checkbox-Producer">Producer</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Director" name="Director">
                        <label for="checkbox-Director">Director</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Writer" name="Writer">
                        <label for="checkbox-Writer">Writer</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Actor" name="Actor">
                        <label for="checkbox-Actor">Actor</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Video" name="Video">
                        <label for="checkbox-Video">Video</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Audio" name="Audio">
                        <label for="checkbox-Audio">Audio</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-SFX" name="SFX">
                        <label for="checkbox-SFX">SFX</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Support" name="Support">
                        <label for="checkbox-Support">Support</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Viewer" name="Viewer">
                        <label for="checkbox-Viewer">Viewer</label>
                      </div>


                    </div>
                  </section>

                    <br>
                    <br>

                  <!-- Image -->
                  <section>
                    <h2>Profile Image</h2>
                    <hr />
                    <div class="box alt">
                        <div class="row 100% uniform">
                            <label class="custom-file">
                              <input type="file" id="avatar_file">
                            </label>
                        </div>
                    </div>

                    <h2> Reels, Demos, &amp; Portfolios </h2>
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="reel-title" id="reel-title" value="" placeholder="Description" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="reel-url" id="reel-url" value="" placeholder="URL or username" />
                        </div>
                    </div>
                    <br>
                    <a id="add-reel" class="button special">+</a>
                    <br>
                    <br>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                              <tr>
                                  <th>Description</th>
                                  <th>URL or username</th>
                                  <th>DELETE</th>
                              </tr>
                            </thead>
                            <tbody id="reel-table"></tbody>
                        </table>
                    </div>


                    <br>
                    <br>

                    <h2> Social Media &amp; Links</h2>
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="title" id="social-title" value="" placeholder="Name" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="subtitle" id="social-url" value="" placeholder="URL or username" />
                        </div>
                    </div>
                    <br>
                    <a id="add-social" class="button special">+</a>
                    <br>
                    <br>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                              <tr>
                                  <th>Link Title</th>
                                  <th>URL or username</th>
                                  <th>DELETE</th>
                              </tr>
                            </thead>
                            <tbody id="social-table"></tbody>
                        </table>
                    </div>

                  </section>


                    <br>
                    <br>

                  <section>
                    <h2>Production Assets</h2>
                    <hr />
                    <div class="table-wrapper">
                        <table>

                            <tbody>
                                <tr>
                                    <td>
                                      <div class="select-wrapper">
                                        <select name="category" id="needs-category">
                                          <option value="">- Category -</option>
                                          <option value="Equipment">Equipment</option>
                                          <option value="Labor">Labor</option>
                                          <option value="Location">Location</option>
                                          <option value="Construction">Construction</option>
                                          <option value="Legal">Legal</option>
                                          <option value="Sales">Sales / Marketing</option>
                                          <option value="Miscellaneous">Miscellaneous</option>
                                        </select>
                                      </div>
                                    </td>
                                    <td><input type="text" name="title" id="needs-description" value="" placeholder="Description" /></td>
                                    <td><input type="text" name="title" id="needs-quantity" value="" placeholder="Quantity" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a id="add-needs" class="button special">+</a>
                    <br>
                    <br />
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="needs-table"></tbody>
                        </table>
                    </div>
                  </section>



                <section>
                    <div class="row">
                      <div class="12u 24u$(xsmall)">
                        <ul class="actions fit">
                          <li><a id="save_settings" class="button special fit big">SAVE CHANGES</a></li>
                        </ul>
                      </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
	{{/if}}
</template>

<template name="uploadForm">
	<div class="cbp-mc-submit formated">
	  {{#with currentUpload}}
	    Uploading <b>{{file.name}}</b>:
	    <span id="progress">{{progress.get}}%</span>
	  {{else}}
	    <input id="fileInput" type="file" />
	  {{/with}}
	</div>
</template>