<template name="settings">
	{{#if currentUser}}
	<div id="page-wrapper">
        <!-- Main -->
        {{#if foo}}
        <div class="alert alert-danger col-md-12" role="alert">
          <strong>Missing Roles!</strong>
          " Select one or more secondary and primary roles to continue. "
        </div>
        {{else}}
        {{#unless account}}
        <div class="alert alert-danger col-md-12" role="alert">
          <strong>Missing Account Data!</strong>
          " An account will be created the next time you submit changes to your profile. "
        </div>
        {{else}}
        {{#unless bank}}
        <div class="alert alert-danger col-md-12" role="alert">
          <strong>Missing Transfer Data!</strong>
          " Configure your accounts for transfers from your campaigns. "
        </div>
        {{/unless}}
        {{/unless}}
        {{/if}}
        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <h2>Edit Profile</h2>
                    <p>Share what others will see.</p>
                </header>

                <!-- Text -->
                <section>
                    <h3>General Information</h3>
                    <hr />
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="firstname" id="first_name" value="" placeholder="{{ first_name }}" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="text" name="lastname" id="last_name" value="" placeholder="{{ last_name }}" />
                        </div>

                        <div class="12u$">
                            <textarea name="bio" id="bio" placeholder="{{ bio }}" rows="6"></textarea>
                        </div>


                        <div class="12u$">
                            <div class="select-wrapper">
                              <select name="category" id="category">
                                <option>- Primary Role -</option>
                                <option value="Producer">Producer</option>
                                <option value="Director">Director</option>
                                <option value="Writer">Writer</option>
                                <option value="Writer">Editor</option>
                                <option value="Actor">Actor</option>
                                <option value="Video">Video</option>
                                <option value="Audio">Audio</option>
                                <option value="SFX">SFX</option>
                                <option value="Support">Support</option>
                                <option value="Writer">Musician</option>
                                <option value="Writer">Dancer</option>
                                <option value="Viewer">Viewer</option>
                              </select>
                            </div>
                        </div>


                    </div>


                    <br>
                    <br>
                    <h2>Additional Roles</h2>
                    <hr />


                    <div class="row uniform 50%">

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Producer" name="Producer">
                        <label for="checkbox-Producer">Producer</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Director" name="Director">
                        <label for="checkbox-Director">Director</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Writer" name="Writer">
                        <label for="checkbox-Writer">Writer</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Actor" name="Actor">
                        <label for="checkbox-Actor">Actor</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Video" name="Video">
                        <label for="checkbox-Video">Video</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Audio" name="Audio">
                        <label for="checkbox-Audio">Audio</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-SFX" name="SFX">
                        <label for="checkbox-SFX">SFX</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Support" name="Support">
                        <label for="checkbox-Support">Support</label>
                      </div>

                      <div class="4u 8u$(medium)">
                        <input class="user-role" type="checkbox" id="checkbox-Viewer" name="Viewer">
                        <label for="checkbox-Viewer">Viewer</label>
                      </div>


                    </div>
                  </section>

                    <br>
                    <br>

                  <!-- Image -->
                  <section>
                    <h2>Profile Image</h2>
                    <hr />
                    <div class="box alt">
                        <div class="row 100% uniform">
                          <div class="4u  6u$(xsmall)"><span class="image fit"><img src="{{ avatar }}" alt=""></span></div>
                          <div class="4u  6u$(xsmall)"><label class="custom-file">
                              <input type="file" id="avatar_file">
                            </label>
                          </div>
                            
                        </div>
                    </div>

                    <h2> Reels, Demos, &amp; Portfolios </h2>
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="reel-title" id="reel-title" value="" placeholder="Description" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="reel-url" id="reel-url" value="" placeholder="URL or username" />
                        </div>
                    </div>
                    <br>
                    <a id="add-reel" class="button special">+</a>
                    <br>
                    <br>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                              <tr>
                                  <th>Description</th>
                                  <th>URL or username</th>
                                  <th>DELETE</th>
                              </tr>
                            </thead>
                            <tbody id="reel-table"></tbody>
                        </table>
                    </div>


                    <br>
                    <br>

                    <h2> Social Media &amp; Links</h2>
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="title" id="social-title" value="" placeholder="Name" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="subtitle" id="social-url" value="" placeholder="URL or username" />
                        </div>
                    </div>
                    <br>
                    <a id="add-social" class="button special">+</a>
                    <br>
                    <br>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                              <tr>
                                  <th>Link Title</th>
                                  <th>URL or username</th>
                                  <th>DELETE</th>
                              </tr>
                            </thead>
                            <tbody id="social-table"></tbody>
                        </table>
                    </div>

                  </section>


                    <br>
                    <br>

                  <section>
                    <h2>Production Assets</h2>
                    <hr />
                    <div class="table-wrapper">
                        <table>

                            <tbody>
                                <tr>
                                    <td>
                                      <div class="select-wrapper">
                                        <select name="category" id="needs-category">
                                          <option value="">- Category -</option>
                                          <option value="Equipment">Equipment</option>
                                          <option value="Labor">Labor</option>
                                          <option value="Location">Location</option>
                                          <option value="Construction">Construction</option>
                                          <option value="Legal">Legal</option>
                                          <option value="Sales">Sales / Marketing</option>
                                          <option value="Miscellaneous">Miscellaneous</option>
                                        </select>
                                      </div>
                                    </td>
                                    <td><input type="text" name="title" id="needs-description" value="" placeholder="Description" /></td>
                                    <td><input type="text" name="title" id="needs-quantity" value="" placeholder="Quantity" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a id="add-needs" class="button special">+</a>
                    <br>
                    <br />
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="needs-table"></tbody>
                        </table>
                    </div>
                  </section>

                  <br>
                  <br>
                  {{#if account}}
                  {{#unless bank}}
                  <section>
                      <h2>Configure Transfers</h2>
                      <h4>For transferring funds raised from campaigns to your personal or business bank account. You do not need to file this unless you intend to transfer funds from one or more campaigns as an author.</h4>
                      <hr />
                      <div class="row">
                        <div style="width:100%">
                          <div class="panel panel-default" style="background:transparent">
                            <div class="panel-body">
                              <form>
                                <div class="errors"></div>
                                <div class="row">
                                  <div class="col-md-8">
                                    <div class="form-group">
                                      <label>Country</label>
                                      <select class="form-control input-lg" id="country" data-stripe="country" style="line-height: normal;background:transparent;color:#fff">
                                        <option value="US">United States</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BR">Brazil</option>
                                        <option value="CA">Canada</option>
                                        <option value="DK">Denmark</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="DE">Germany</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IT">Italy</option>
                                        <option value="JP">Japan</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MX">Mexico</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="NO">Norway</option>
                                        <option value="PT">Portugal</option>
                                        <option value="SG">Singapore</option>
                                        <option value="ES">Spain</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label>Currency</label>
                                      <select class="form-control input-lg" id="currency" data-stripe="currency" style="line-height: normal;background:transparent;color:#fff">
                                        <option value="usd">USD</option>
                                        <option value="aud">AUD</option>
                                        <option value="brl">BRL</option>
                                        <option value="cad">CAD</option>
                                        <option value="eur">EUR</option>
                                        <option value="gbp">GBP</option>
                                        <option value="hkd">HKD</option>
                                        <option value="jpy">JPY</option>
                                        <option value="mxn">MXN</option>
                                        <option value="nzd">NZD</option>
                                        <option value="sgd">SGD</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Full Legal Name</label>
                                      <input class="form-control input-lg account_holder_name" id="account_holder_name" type="text" data-stripe="account_holder_name" placeholder="Jane Doe" autocomplete="off" style="background:transparent;color:#fff">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Account Type</label>
                                      <select class="form-control input-lg account_holder_type" id="account_holder_type" data-stripe="account_holder_type" style="line-height: normal;background:transparent;color:#fff">
                                        <option value="individual">Individual</option>
                                        <option value="company">Company</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6" id="routing_number_div">
                                    <div class="form-group">
                                      <label id="routing_number_label">Routing Number</label>
                                      <input class="form-control input-lg bank_account" id="routing_number" type="tel" size="12" data-stripe="routing_number" placeholder="111000025" autocomplete="off" style="background:transparent;color:#fff">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label id="account_number_label">Account Number</label>
                                      <input class="form-control input-lg bank_account" style="background:transparent;color:#fff" id="account_number" type="tel" size="20" data-stripe="account_number" placeholder="000123456789" autocomplete="off">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <button class="btn btn-lg btn-block btn-success submit" type="submit" id="add_account">ADD ACCOUNT</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                  </section>
                  {{else}}
                  <section>
                    <div class="bs-callout bs-callout-info" id="callout-glyphicons-location"> 
                      <h4>Account Transfer Details</h4> 
                      <p>Your account is configured as below and available for receiving transfers. To initiate a transfer visit <a href="/dashboard"><code>DASHBOARD</code></a> and navigate to your campaigns and select the <code>TRANSFER</code> option for the item of your choice:
                      </p> 
                      <h5>CONFIGURED ACCOUNTS</h5>
                      <div class="table-wrapper">
                        <table>
                          <thead>
                            <tr>
                              <th>Bank Name</th>
                              <th>Account No.</th>
                              <th>Routing No.</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>{{bank_name}}</th>
                              <th>{{account_no}}</th>
                              <th>{{routing_no}}</th>
                              <th><i class="glyphicon glyphicon-ok-sign"></i> Good</th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <p>Click <strong>RESET</strong> to reset your transfer settings.</p> 
                      <a class="button reset_transfer">RESET TRANSFER SETTINGS</a>
                    </div>
                  </section>
                  {{/unless}}
                  {{/if}}

                  <br>
                  <br>
                <section>
                    <div class="row">
                      <div class="12u 24u$(xsmall)">
                        <ul class="actions fit">
                          <li><a id="save_settings" class="button special fit big">SAVE CHANGES</a></li>
                        </ul>
                      </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
	{{/if}}
</template>

<template name="uploadForm">
	<div class="cbp-mc-submit formated">
	  {{#with currentUpload}}
	    Uploading <b>{{file.name}}</b>:
	    <span id="progress">{{progress.get}}%</span>
	  {{else}}
	    <input id="fileInput" type="file" />
	  {{/with}}
	</div>
</template>