<template name="nav">

  <header id="header">
      <nav role="navigation" id="nav">
              <input class="trigger" type="checkbox" id="mainNavButton">
              <label id="navlabel" for="mainNavButton" onclick>Open Source Hollywood</label>

          {{#if currentUser}}
              <ul>
                
                  <li><a href="/new">Create Campaign</a></li>
                  <li><a href="/projects">Campaigns</a></li>
                  <li><a href="/dashboard">Dashboard</a></li>
                  <li><a href="/comms">Notifications</a></li>
                  <li><a id="settings" href="/settings">Edit Profile</a></li>
                  <li><a id="signout">Sign out</a></li>
              </ul>
          {{else}}
                  <a href="/terms" class="button small signin_nav" style='float: left;'>TERMS</a>
                  <a href="/about" class="button small signin_nav" style='float: left;'>ABOUT</a>
                  <a href="/" class="button small signin_nav" style='float: left;'><i class="glyphicon glyphicon-home"></i></a>
                  <a class="button special small login signin_nav" style='float: right;'>SIGNIN</a>
          {{/if}}
              
      </nav>
    </header>


</template>

<template name="user_options"> 
  <ul>
      <!--

          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a>
              <ul>
                <li><a href="#">Sub Nav Item</a></li>
                <li><a href="#">Sub Nav Item</a>
                  <ul>
                    <li><a href="#">Sub Sub Nav Item</a></li>
                    <li><a href="#">Sub Sub Nav Item</a></li>
                    <li><a href="#">Sub Sub Nav Item</a></li>
                    <li><a href="#">Sub Sub Nav Item</a></li>
                  </ul>
                </li>
                <li><a href="#">Sub Nav Item</a></li>
                <li><a href="#">Sub Nav Item</a></li>
              </ul>
          </li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Specials</a></li>
          <li><a href="#">Contact Us</a></li>

      -->
      
  </ul>

</template>





<!-- <a role="presentation" class="pull-right">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-list"></i></a>
      <ul id="profile-dropdown-menu" class="dropdown-menu">
        <p style="padding-left: 10px; color: Gainsboro;opacity: 0.6;">Pages</p>
        <li><a id="profile" href="/profile/{{currentUser._id}}">Profile</a></li>
        <li><a id="settings" href="/settings">Edit Profile</a></li>
        <li><a href="{{pathFor 'Projects'}}">Projects</a></li>
        <li role="separator" class="divider"></li>
        <p style="padding-left: 10px; color: Gainsboro;opacity: 0.6;">Create Project</p>
        <li><a href="/new" role="button" aria-haspopup="false" aria-expanded="false"><strong>Produce</strong></a></li>
        <p style="padding-left: 10px; color: Gainsboro;opacity: 0.6;">Active Projects</p>
        <li><a href="/active" role="button" aria-haspopup="false" aria-expanded="false"><strong>Manage</strong></a></li>
        <li role="separator" class="divider"></li>
        <p style="padding-left: 10px; color: Gainsboro;opacity: 0.6;">Dashboard</p>
        <li><a href="/dashboard">Dashboard</a></li>
        <hr>
        <li><a id="signout">Sign out</a></li>
      </ul>
    </a>
    -->