<template name="nav">

  <nav class="navbar navbar-fixed-top">

    <div class="container-fluid navfluid">

      {{#if currentUser}}
        {{> user_options}}
      {{else}}
        {{#if finishedLoading}}
        <button class="login button special" style="z-index:999">Log In</button>
        {{/if}}
      {{/if}}


    </div>

  </nav>


</template>

<template name="user_options"> 
  <!-- Header -->
  <header id="header">
      <nav id="nav">
          <ul>
              <!--<li>
                  <a>PROJECTS</a>
                  <ul>
                      
                      <li>
                          <a>Submenu</a>
                          <ul>
                              <li><a>Option 1</a></li>
                              <li><a>Option 2</a></li>
                              <li><a>Option 3</a></li>
                              <li><a>Option 4</a></li>
                          </ul>
                      </li>
                  </ul>
              </li>-->
              {{#if producerReady}}
              <li><a href="/newproject">Create Campaign</a></li>
              <li><a href="/comms">Messages</a></li>
              {{/if}}
              <li><a id="settings" href="/settings">Edit Profile</a></li>
              <li><a href="/projects">Campaigns</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a id="signout" class="button special">Sign out</a></li>
          </ul>
      </nav>
  </header>
</template>



<!-- <a role="presentation" class="pull-right">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-list"></i></a>
      <ul id="profile-dropdown-menu" class="dropdown-menu">
        <p style="padding-left: 10px; color: Gainsboro;opacity: 0.6;">Pages</p>
        <li><a id="profile" href="/profile/{{currentUser._id}}">Profile</a></li>
        <li><a id="settings" href="/settings">Edit Profile</a></li>
        <li><a href="{{pathFor 'Projects'}}">Projects</a></li>
        <li role="separator" class="divider"></li>
        <p style="padding-left: 10px; color: Gainsboro;opacity: 0.6;">Create Project</p>
        <li><a href="/newproject" role="button" aria-haspopup="false" aria-expanded="false"><strong>Produce</strong></a></li>
        <p style="padding-left: 10px; color: Gainsboro;opacity: 0.6;">Active Projects</p>
        <li><a href="/activeprojects" role="button" aria-haspopup="false" aria-expanded="false"><strong>Manage</strong></a></li>
        <li role="separator" class="divider"></li>
        <p style="padding-left: 10px; color: Gainsboro;opacity: 0.6;">Dashboard</p>
        <li><a href="/dashboard">Dashboard</a></li>
        <hr>
        <li><a id="signout">Sign out</a></li>
      </ul>
    </a>
    -->