<template name="footer">
  <footer id="footer">
    <ul class="icons">
      <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="https://www.meetup.com/Open-Source-Hollywood/" class="icon alt fa-meetup"><span class="label">Meetup</span></a></li>
      <li><a href="#" class="icon alt fa-snapchat"><span class="label">Snapchat</span></a></li>
    </ul>
    <ul class="copyright">
      <li>{{year}} &copy; Open Source Hollywood.</li><li>All rights reserved.</li>
    </ul>
  </footer>
</template>