<template name="applicantsMain">
  <div id="content" class="clearfix ">
    <div class="clearfix wrapper">

        <header id="page-title">
            <h1 class="title">Welcome to Open Source Hollywood!</h1>
            <h2 class="subtitle">Please make your basic configurations here to continue.</h2></header>

        <div class="normal-content ">

            <div class="krown-tabs responsive-on clearfix">
                <div class="contents clearfix" style="width: 100%;">
                    {{ > applicants }}
                  </div>
            </div>
        </div>
    </div>
  </div>

</template>