<template name="editProject">
  {{#if currentUser}}
  {{init}}

  <div id="page-wrapper">
        <!-- Main -->
        <p>&nbsp;</p>
        <div id="main" class="style1">
            <div class="container" style="width: 100%;">
                <section>
                    <h2>Crew Positions</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <input type="text" name="title" id="crew-title" placeholder="Title" />
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" name="title" id="crew-description" placeholder="Description" />
                        </div>
                    </div>
                    <a id="add-crew" class="button special">Add Crew Position</a>
                    <br>
                    <br />
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Crew Title</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="crew-table">
                              {{#each project.crew}}
                                <tr class="crew-val">
                                  <td>{{title}}</td>
                                  <td>{{description}}</td>
                                  <td>
                                    <div class="col-sm-12 col-md-4 margin_bottom20">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" id="crew-radio-needed{{@index}}" name="crew-radio{{@index}}" value="needed" {{neededCheck}}>
                                            <label for="crew-radio-needed">Needed</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" id="crew-radio-fulfilled{{@index}}" name="crew-radio{{@index}}" value="fulfilled"  {{fulfilledCheck}}>
                                            <label for="crew-radio-fulfilled">Fulfilled</label>
                                        </div>
                                    </div>
                                  </td>
                                  <td><button class="deleteRow button small">X</button></td>
                                </tr>
                              {{/each}}
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <br>
                    <hr class="thickhr">


                    <h2>Cast Positions</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <input type="text" name="cast-title" id="cast-title" placeholder="Role" />
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" name="cast-description" id="cast-description" placeholder="Description" />
                        </div>
                    </div>
                    <a id="add-cast" class="button special">Add Cast Position</a>
                    <br>
                    <br />
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="cast-table">
                              {{#each project.cast}}
                                <tr class="cast-val">
                                  <td>{{role}}</td>
                                  <td>{{description}}</td>
                                  <td>
                                    <div class="col-sm-12 col-md-4 margin_bottom20">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" id="cast-radio-needed{{@index}}" name="cast-radio{{@index}}" value="needed" {{neededCheck}}>
                                            <label for="cast-radio-needed">Needed</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" id="cast-radio-fulfilled{{@index}}" name="cast-radio{{@index}}" value="fulfilled" {{fulfilledCheck}}>
                                            <label for="cast-radio-fulfilled">Fulfilled</label>
                                        </div>
                                    </div>
                                   </td>
                                  <td><button class="deleteRow button small">X</button></td>
                                </tr>
                              {{/each}}
                            </tbody>
                        </table>
                    </div>


                    <br>
                    <br>
                    <hr class="thickhr">


                    <h2>Production Needs</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <select name="category" id="needs-category" class="form-control">
                                  <option>- Type -</option>
                                  <option value="Equipment">Equipment</option>
                                  <option value="Labor">Labor</option>
                                  <option value="Location">Location</option>
                                  <option value="Construction">Construction</option>
                                  <option value="Legal">Legal</option>
                                  <option value="Sales">Sales / Marketing</option>
                                  <option value="Miscellaneous">Miscellaneous</option>
                                </select>
                              </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" name="title" id="needs-description" placeholder="Description" />
                        </div>
                    </div>
                    <a id="add-needs" class="button special">Add Need</a>
                    <br>
                    <br />
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="needs-table">
                              {{#each project.needs}}
                                <tr class="needs-val">
                                  <td>{{category}}</td>
                                  <td>{{description}}</td>
                                  <td><button class="deleteRow button small">X</button></td>
                                </tr>
                              {{/each}}
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <br>
                    <hr class="thickhr">
                
                    <h2> Social &amp; Web Links</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <input type="text" name="title" id="social-title" placeholder="Name" />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <input type="email" name="subtitle" id="social-url" placeholder="URL or username" />
                        </div>
                    </div>
                    <br>
                    <a id="add-social" class="button special">Add Link</a>
                    <br>
                    <br>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                              <tr>
                                  <th>Link Title</th>
                                  <th>URL or username</th>
                                  <th>DELETE</th>
                              </tr>
                            </thead>
                            <tbody id="social-table">
                              {{#each project.social}}
                                <tr class="social-val">
                                  <td>{{name}}</td>
                                  <td>{{address}}</td>
                                  <td><button class="deleteRow button small">X</button></td>
                                </tr>
                              {{/each}}
                            </tbody>
                        </table>
                    </div>


                    <br>
                    <br>
                    <hr class="thickhr">

                    <h2>Gifts for Supporters</h2>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="title">name</label>
                            <input type="text" name="title" id="gift-title" placeholder="" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label for="description">description</label>
                            <input type="text" name="description" id="gift-description" placeholder="" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label for="quantity">quantity</label>
                            <input type="text" name="quantity" id="gift-quantity" placeholder="" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label for="msrp">price</label>
                            <input type="text" name="msrp" id="gift-msrp" placeholder="" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label for="file-upload" class="custom-file-upload margin_bottom20" id="file_gift">
                                <i class="fa fa-cloud-upload"></i> Upload Image
                            </label>
                            <input class="noshow-file-upload" id="gift_file" type="file"/>
                            <div id="hidden_gift_name" class="hidden-filename"><i class="fa fa-check"></i>&nbsp;<span id="gift_file_name"></span></div>
                        </div>
                    </div>
                    <a id="add-gift" class="button special">Add Gift</a>
                    <br>
                    <br />
                    <div class="table-wrapper">
                        <table>
                            <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Description</th>
                                  <th>Quantity</th>
                                  <th>MSRP</th>
                                  <th>DELETE</th>
                              </tr>
                            </thead>
                            <tbody id="gift-table">
                              {{#each project.gifts}}
                                <tr class="gift-val">
                                  <td>{{name}}</td>
                                  <td>{{description}}</td>
                                  <td>{{quantity}}</td>
                                  <td>{{msrp}}</td>
                                  <td><button class="deleteRow button small">X</button></td>
                                </tr>
                              {{/each}}
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <br>
                    <hr class="hrpill">

                </section> 

                <section>
                    <div class="row">
                      <div class="col-sm-12">
                        <a id="update_campaign" class="button" style="width: 100%;">CLICK TO SAVE CHANGES</a>
                      </div>
                    </div>
                </section>
                
            </div>
        </div>
  </div>

  {{/if}}

</template>