<template name="newProject">
    <div id="content" class="clearfix layout-fixed-width">
        <div class="clearfix wrapper">

            <header id="page-title">
                <h1 class="title">New Campaign</h1>
                <h2 class="subtitle">Enter the details of your vision below</h2>
            </header>

            <div class="container">
                <!-- Text -->
                <section>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="title">title</label>
                            <input type="text" name="title" id="title" placeholder="Your great title here." />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="logline">logline</label>
                            <input type="text" name="logline" id="logline" placeholder="Couple sentences summarizing your campaign." />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="location">location</label>
                            <input type="text" name="location" id="location" placeholder="Enter campaign location zip code (e.g. 91204)" />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="website">website</label>
                            <input type="text" name="website" id="website" placeholder="ex. https://link.com/id" />
                        </div>
                        <div class="col-xs-12">
                            <label for="budget">budget goal</label>
                            <input type="number" name="budget" id="budget" placeholder="Enter amount of money you would like to raise." />
                        </div>

                        <div class="col-sm-12 col-md-6 margin_bottom40">
                            <label for="banner image">banner image (720x490 for best resolution)</label>
                            <label for="banner_file" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Upload Image
                            </label>
                            <input class="noshow-file-upload" id="banner_file" type="file"/>
                            <br>
                            <div id="hidden_banner_name" class="hidden-filename"><i class="fa fa-check"></i>&nbsp;<span id="banner_file_name">This is the name of the file uploaded</span></div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <label for="website">video link (YouTube or Vimeo)&nbsp;<a href="#!" id="vidurl"><i class="fa fa-question-circle"></i></a></label>
                            <input type="text" name="video_explainer" id="video_explainer" placeholder="enter URL link" />
                        </div>

                        <div class="form-group">
                          <label for="category">Select Category</label>
                          <select name="category" id="category" class="form-control">
                            <option>- Campaign Format -</option>
                            <option>Feature</option>
                            <option>Indie</option>
                            <option>Series</option>
                            <option>Sketch</option>
                            <option>Animations</option>
                            <option>Theater</option>
                            <option>Ensemble</option>
                            <option>Performance</option>
                            <option>Music Video</option>
                            <option>Podcast</option>
                            <option>Other</option>
                          </select>
                        </div>


                        <div class="form-group" id="hidden_genre" hidden>
                          <label for="genre">Select Genre</label>
                          <select name="genre" id="genre" class="form-control">
                          </select>
                        </div>
                        
                    </div>


                    <br>
                    <br>
                    <h2 style="margin-bottom:0px">Campaign Description</h2><br>
                    <small>Format font, size, color, positioning, and insert images from valid URL links.</small>
                    <hr />


                    <div id="editor_panel"></div>  
                    <textarea id="editor_area"></textarea>


                    <br>
                    <br>

                    <div class="row">
                        <h2 style="margin-bottom:0px">Additional Information</h2>
                        <p><strong>optional</strong></p>
                        <h4>About the creators</h4>
                        <div class="col-sm-12">
                            <textarea name="creators_info" id="creators_info" placeholder="" rows="6"></textarea>
                        </div>
                        <h4>Project history</h4>
                        <div class="col-sm-12">
                            <textarea name="history_info" id="history_info" placeholder="" rows="6"></textarea>
                        </div>
                        <h4>Project plans</h4>
                        <div class="col-sm-12">
                            <textarea name="plans_info" id="plans_info" placeholder="" rows="6"></textarea>
                        </div>
                        <h4>Explanation of needs</h4>
                        <div class="col-sm-12">
                            <textarea name="needs_info" id="needs_info" placeholder="" rows="6"></textarea>
                        </div>
                        <h4>Significance of work</h4>
                        <div class="col-sm-12">
                            <textarea name="significance_info" id="significance_info" placeholder="" rows="6"></textarea>
                        </div>

                    </div>

                    <br>
                    <br>


                    <h2>Crew Positions Available</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <input type="text" name="title" id="crew-title" placeholder="Title" />
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" name="title" id="crew-description" placeholder="Description" />
                        </div>
                    </div>
                    <a id="add-crew" class="button special">Add Crew</a>
                    <br>
                    <br />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Crew Title</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="crew-table"></tbody>
                        </table>
                    </div>

                    <br>
                    <br>
                    <hr class="thickhr">


                    <h2>Cast Positions Available</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <input type="text" name="cast-title" id="cast-title" placeholder="Role" />
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" name="cast-description" id="cast-description" placeholder="Description" />
                        </div>
                    </div>
                    <a id="add-cast" class="button special">Add Role</a>
                    <br>
                    <br />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="cast-table"></tbody>
                        </table>
                    </div>


                    <br>
                    <br>
                    <hr class="thickhr">


                    <h2>Production Needs</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <select name="category" id="needs-category" class="form-control">
                                  <option>- Type -</option>
                                  <option value="Equipment">Equipment</option>
                                  <option value="Labor">Labor</option>
                                  <option value="Location">Location</option>
                                  <option value="Construction">Construction</option>
                                  <option value="Legal">Legal</option>
                                  <option value="Sales">Sales / Marketing</option>
                                  <option value="Models">Models</option>
                                  <option value="Dancers">Dancers</option>
                                  <option value="Musicians">Musicians</option>
                                  <option value="Wardrobe">Wardrobe</option>
                                  <option value="Hair">Hair</option>
                                  <option value="Makeup">Makeup</option>
                                  <option value="Lighting">Lighting</option>
                                  <option value="Miscellaneous">Miscellaneous</option>
                                </select>
                              </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" name="title" id="needs-description" placeholder="Description" />
                        </div>
                    </div>
                    <a id="add-needs" class="button special">Add Need</a>
                    <br>
                    <br />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id="needs-table"></tbody>
                        </table>
                    </div>

                    <br>
                    <br>
                    <hr class="thickhr">
                
                    <h2> Social &amp; Web Links</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <input type="text" name="title" id="social-title" placeholder="Name" />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <input type="email" name="subtitle" id="social-url" placeholder="URL or username" />
                        </div>
                    </div>
                    <br>
                    <a id="add-social" class="button special">Add Link</a>
                    <br>
                    <br>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                  <th>Link Title</th>
                                  <th>URL or username</th>
                                  <th>DELETE</th>
                              </tr>
                            </thead>
                            <tbody id="social-table"></tbody>
                        </table>
                    </div>


                    <br>
                    <br>
                    <hr class="thickhr">

                    <h2>Gifts for Supporters</h2>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="title">name</label>
                            <input type="text" name="title" id="gift-title" placeholder="" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label for="description">description</label>
                            <input type="text" name="description" id="gift-description" placeholder="" />
                        </div>
                        <div class="col-xs-4">
                            <label for="quantity">quantity</label>
                            <input type="text" name="quantity" id="gift-quantity" placeholder="" />
                        </div>
                        <div class="col-xs-3">
                            <label for="msrp">price</label>
                            <input type="text" name="msrp" id="gift-msrp" placeholder="" />
                        </div>
                        <div class="col-xs-5" style="margin-top:  25px;">
                            <label for="file-upload" class="custom-file-upload margin_bottom20" id="file_gift">
                                <i class="fa fa-cloud-upload"></i> Upload Image
                            </label>
                            <input class="noshow-file-upload" id="gift_file" type="file"/>
                            <div id="hidden_gift_name" class="hidden-filename"><i class="fa fa-check"></i>&nbsp;<span id="gift_file_name"></span></div>
                        </div>
                    </div>
                    <a id="add-gift" class="button special">Add Gift</a>
                    <br>
                    <br />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Description</th>
                                  <th>Quantity</th>
                                  <th>MSRP</th>
                                  <th>DELETE</th>
                              </tr>
                            </thead>
                            <tbody id="gift-table"></tbody>
                        </table>
                    </div>

                    <br>
                    <br>
                    <hr class="hrpill">

                </section>    
            </div>

            <div class="container">
                <section>
                    <div class="row">
                      <div class="col-sm-12">
                        
                        <a id="create_campaign" class="button" style="display: block;">CREATE CAMPAIGN !</a>
                        
                      </div>
                    </div>
                </section>
            </div>

               
        </div>
    </div>

    <script type="text/javascript" src="/js/scripts.min.js"></script>
</template>