<template name="projectView">

<style type="text/css">
  .panel {
    background-color:transparent
  }
  .panel-default {
    border-color:transparent
  }
</style>
  <div id="main" class="wrapper style1">
      <div class="container">
        {{#if projectRemovedNotBoard}}
          <header class="major">
              <h2 class="page-header">This Campaign is not available !</h2>
          </header>
          {{else}}
          <section>
            {{#if isOwner}}
                <a class="btn btn-danger closeProj">Close and mark project as Finished</a>
                <a class="btn btn-success" href="/edit/projects/{{_slug}}/edit">Edit Details</a>
            {{/if}}

            {{#if isAllowed}}
                <a id="boardButton" class="btn btn-primary" href="/boards/{{_bid}}/{{_slug}}">Access Board</a>
            {{/if}}
            
            <div class="page">
              <div class="modal-container">
                <div class="l-product">
                  <div class="l-product__container">
                    <div class="l-product__title">{{project.title}}</div>
                    {{> actionBar}}
                    <!-- LEFT -->
                    <main class="l-product__main">
                      <div class="l-product__image">
                        <img src="{{project.banner}}"  style="width: 100%;"/>
                      </div>
                      <div class="l-product__price">
                        <div class="c-price">
                          
                          <div class="c-price__row">
                            <div class="c-price__index c-price__index--xl">{{project.city}}, {{project.state}}
                              <div class="c-price__date">{{project.purpose}} <br /> since {{project.createdAt}}</div>
                            </div>
                            <div class="c-price__value c-price__value--xl c-price__value--b">{{project.category}}</div>
                          </div>
                          
                          <div class="c-price__row">
                            <div class="c-price__index"> active applications </div>
                            <div class="c-price__value c-price__value--green">{{usersApplied}}</div>
                          </div>
                          
                          <div class="c-price__row">
                            <div class="c-price__index"> equity distributed </div>
                            <div class="c-price__value c-price__value--green">{{equityDistributed}}%</div>
                          </div>        
                          
                          <div class="c-price__row">
                            <div class="c-price__index c-price__index--m"> funds raised </div>
                            <div class="c-price__value c-price__value--green">${{project.funded}}</div>
                          </div>

                        </div>              
                      </div>
                      <div class="w100">
                        <div class="c-title--h2">Donation</div>
                        <div class="c-add-to">
                          <div class="c-add-to__container">
                            <div class="c-add-to__cell">
                              <form action="/" class="c-amount">

                                  <div class="c-amount__item c-amount__item--input">
                                    <label for="amount" class="control-label c-amount__label">Contribution</label>
                                    <input min="5" type="number" class="form-control c-amount__input" id="donation_amount">
                                  </div>
                                  <br>
                                  <div class="c-amount__item">
                                    <button class="btn btn-primary c-amount__control" id="donation_add_to">+</button>
                                  </div>

                              </form>
                            </div>
                            
                            <div class="c-add-to__cell c-add-to__cell--end">
                              <div class="basket-button">
                                <button class="btn btn-primary basket-button__btn" id="donation_btn" disabled>Click '+' to Add</button>
                              </div>
                            </div>
                            
                            <div class="c-add-to__cell">
                              <div class="c-info c-info--total">
                                <div class="c-info__row">
                                  <div class="c-info__index">Total</div>
                                  <div class="c-info__value c-info__value--total"><span id="total_usd">0</span> USD <span class="c-info__math" id="before_fees"></span></div>
                                </div>
                                <div class="c-info__row">
                                  <div class="c-info__index">Transfer</div>
                                  <div class="c-info__value" id="transfer_amt">0</div>
                                </div>                    
                              </div>
                              
                            </div>
                            <div class="c-add-to__cell">
                              <div class="c-total">
                                
                                <div class="c-total__row">
                                  <div class="c-total__col">Total raised</div>
                                  <div class="c-total__col" id="proj_funds">{{project.funded}}</div>
                                  <!-- <div class="c-total__col">473.00 CHF</div> -->
                                </div>
                                
                                <div class="c-total__row">
                                  <div class="c-total__col">Per cent total</div>
                                  <div class="c-total__col" id="percent_total">0</div>
                                  <!-- <div class="c-total__col">528.00 CHF</div> -->
                                </div>
                                
                                <hr class="c-total__hr" />
                                
                                <div class="c-total__row">
                                  <div class="c-total__col c-total__col--half">Up-to-date data</div>
                                  <div class="c-total__col c-total__col--half">Real-Time</div>
                                </div>
                              
                              </div>
                            
                            
                            </div>
                          </div>
                        
                        </div>
                      </div>
                      <div class="w100">
                        <div class="c-title--h2">Description</div>
                        
                        <div class="c-desription">
                          {{ project.description }}
                        </div>
                      </div>
                      <div class="w100">
                        <h4>About the story</h4>
                        
                        <div class="c-desription">
                          {{ project.storyInfo }}
                        </div>
                      </div>
                      <div class="w100">
                        <h4>Project history</h4>
                        
                        <div class="c-desription">
                          {{ project.historyInfo }}
                        </div>
                      </div>
                      <div class="w100">
                        <h4>Project plans</h4>
                        
                        <div class="c-desription">
                          {{ project.plansInfo }}
                        </div>
                      </div>
                      <div class="w100">
                        <h4>Explanation of needs</h4>
                        
                        <div class="c-desription">
                          {{ project.needsInfo }}
                        </div>
                      </div>
                      <div class="w100">
                        <h4>Significance of work</h4>
                        
                        <div class="c-desription">
                          {{ project.significanceInfo }}
                        </div>
                      </div>
              
              
                      <div class="c-title--h2">Gifts for Purchase</div>
                      <div class="c-related">
                        {{#each project.gifts}}
                          <div>
                            <div class="c-related__figure">
                              <a class="c-related__a purchase_gift">
                                <img class="c-related__img" src="{{this.url}}" />
                              </a>
                            </div>
                            <div class="c-related__title">
                              <p class="c-related__a align-center">{{this.name}}<br>price: ${{this.msrp}}</p>
                              <div class="c-related__supplier"><p class="align-center">quantity available ({{this.quantity}})</p></div>
                              <p class="align-center"><a class="c-related__a button special purchase_gift">PURCHASE NOW</a></p>
                            </div>
                          </div>
                        {{else}}
                          <div class="c-related__title">
                            <a class="c-related__a button">N / A</a>
                          </div>
                        {{/each}}
                      </div>

                      <div class="w100">
                        <div style="position:relative;padding-top:20px;width:80%">
                          <h4>{{numComments}}</h4>
                          {{#if currentUser}}
                          <br>
                          {{#each projectComments}}
                          {{>comment}}
                          {{/each}}
                          {{> commentBox}}
                          {{/if}}
                        </div>
                      </div>      
                    </main>
                    <!-- RIGHT -->
                    <aside class="l-product__aside">
                      <div class="l-product__attr">
                        
                        <div class="c-prod-attr">
                          <div class="c-prod-attr__section">
                            <div class="c-prod-attr__title">logline</div>
                            <div class="c-prod-attr__no-info"> {{project.logline}} </div>
                          </div>

                          <div class="c-prod-attr__section">
                            <div class="c-prod-attr__title">website</div>
                            <div class="c-prod-attr__no-info"> {{website}} </div>
                          </div>


                          <div class="c-title--h2">Request for Assets</div>
                          <div class="c-prod-attr__section">
                            
                            <div class="c-prod-attr__title">request for assets</div>

                            {{#if project.needs.length}}
                            {{#each project.needs}}
                            
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">{{this.category}}</div>
                              <div class="c-prod-attr__value"><a class="general_need-response button special" id="{{@index}}-need">offer</a></div>
                            </div>

                            {{/each}}
                            {{else}}
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">N / A</div>
                            </div>
                            {{/if}}         
                          </div>
                          
                          
                          
                          
                          <div class="c-prod-attr__section">
                            
                            <div class="c-prod-attr__title">Links &amp; Social</div>

                            {{#each project.social}}
                            
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">{{this.name}}</div>
                              <div class="c-prod-attr__value">{{this.address}}</div>
                            </div>

                            {{ else }}
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">N / A</div>
                            </div>

                            {{/each}}
                                   
                          </div>
                          
                          <div class="c-prod-attr__section">
                            <div class="c-title--h2">Author</div>
                            <div class="c-prod-attr__title">campaign creator</div>
                            
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">{{project.ownerName}}</div>
                              <div class="c-prod-attr__value"><a href="/profile/{{ownerId}}" class="button">VIEW</a></div>
                            </div>

                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">score</div>
                              <div class="c-prod-attr__value">{{_ownerStats.score}}</div>
                            </div>

                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">rating</div>
                              <div class="c-prod-attr__value">{{_ownerStats.rating}}/5</div>
                            </div>
                            
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">role</div>
                              <div class="c-prod-attr__value">{{uPrimaryRole}}</div>
                            </div>
                          </div>

                        
                        </div>
                        
                        <div class="c-prod-attr">
                          <div class="c-title--h2">Project team</div>
                          <div class="c-prod-attr__section">
                            <div class="c-prod-attr__title">TEAM</div>
                            {{#each project.crew}}
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">{{this.title}}</div>
                              <div class="c-prod-attr__value"><a class="crew_detail button special" id="{{@index}}-team">DETAILS</a></div>
                            </div>
                            {{else}}
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">N / A</div>
                            </div>
                            {{/each}}

                          </div>
                          
                          <div class="c-prod-attr__section">
                            <div class="c-prod-attr__title">Video Explainer</div>
                            <div class="c-prod-attr__no-info">{{#if project.videoExplainer}}{{project.videoExplainer}}{{else}}N / A{{/if}}</div>
                          </div>
                        </div>
                        <div class="c-prod-attr">
                          <div class="c-title--h2">Project roles</div>
                          <div class="c-prod-attr__section">
                            
                            <div class="c-prod-attr__title">ROLES</div>

                            {{#each project.cast}}
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">{{this.role}}</div>
                              <div class="c-prod-attr__value"><a class="role_detail button special" id="{{@index}}-role">DETAILS</a></div>
                            </div>
                            {{else}}
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">N / A</div>
                            </div>
                            {{/each}}           
                          </div>
                          
                          <!-- <div class="c-prod-attr__section">
                            
                            <div class="c-prod-attr__title">Further information</div>
                            
                            <div class="c-prod-attr__item">
                              <div class="c-prod-attr__name">country</div>
                              <div class="c-prod-attr__value">Spain</div>
                            </div>
                            
                          </div> -->

                        
                        </div>
                        
                      </div>
                    </aside>

                    {{#if isOwner}}
                      <div class="w100">{{> applicants}}</div>
                    {{/if}}
                    
                  </div>
                </div>

              </div>
            </div>

          </section>
          {{/if}}
      </div>
  </div>

</template>

<template name="applicants">
  <h3>Applicants for Roles</h3>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th><p class="align-center">Role</p></th>
          <th><p class="align-center">Applicant</p></th>
          <th><p class="align-center">Offer</p></th>
          <th><p class="align-center">ACCEPT</p></th>
          <th><p class="align-center">REJECT</p></th>
          <th><p class="align-center"><i class="glyphicon glyphicon-envelope"></i></p></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.project.roleApplicants}}
          <tr>
            <td><p class="align-center">{{appliedFor}}</p></td>
            <td><p class="align-center_min" style="display:block"><img src="{{ user.avatar }}" class="attachment-image-preview m40">&nbsp;&nbsp;{{user.name}}</p><a style="width:100%;max-height:40px" href="/profile/{{ user.id }}" class="small button">PROFILE</a></td>
            <td><a style="width:100%" class="button view_offer">VIEW OFFER</a></td>
            <td><a style="width:100%" class="button special accept"><p class="align-center">ACCEPT</p></a></td>
            <td><a style="width:100%" class="button special_reject reject"><p class="align-center">REJECT</p></a></td>
            <td><a style="width:100%" href="/message/project/{{ slug }}/{{ user.id }}" class="button go">GO</a></td>
          </tr>
        {{else}}
        <tr>
          <td colspan="6">N / A</td>
        </tr>
        {{/each}} 
      </tbody>
    </table>
  </div>
  <br>
  <h3>Applicants for Team</h3>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th><p class="align-center">Role</p></th>
          <th><p class="align-center">Applicant</p></th>
          <th><p class="align-center">Offer</p></th>
          <th><p class="align-center">ACCEPT</p></th>
          <th><p class="align-center">REJECT</p></th>
          <th><p class="align-center"><i class="glyphicon glyphicon-envelope"></i></p></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.project.crewApplicants}}
          <tr>
            <td><p class="align-center">{{appliedFor}}</p></td>
            <td><p class="align-center_min" style="display:block"><img src="{{ user.avatar }}" class="attachment-image-preview m40">&nbsp;&nbsp;{{user.name}}</p><a style="width:100%;max-height:40px" href="/profile/{{ user.id }}" class="small button">PROFILE</a></td>
            <td><a style="width:100%" class="button view_offer">VIEW OFFER</a></td>
            <td><a style="width:100%" class="button special accept"><p class="align-center">ACCEPT</p></a></td>
            <td><a style="width:100%" class="button special_reject reject"><p class="align-center">REJECT</p></a></td>
            <td><a style="width:100%" href="/message/project/{{ slug }}/{{ user.id }}" class="button go">GO</a></td>
          </tr>
        {{else}}
        <tr>
          <td colspan="6">N / A</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <br>
  <h3>Offered Resources</h3>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th><p class="align-center">Asset</p></th>
          <th><p class="align-center">User</p></th>
          <th><p class="align-center">Message&nbsp;&nbsp;<i class="glyphicon glyphicon-envelope"></i></p></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.project.offeredResources}}
          <tr>
            <td><p class="align-center">{{asset}}</p></td>
            <td><p class="align-center_min" style="display:block"><img src="{{ user.avatar }}" class="attachment-image-preview m40">&nbsp;&nbsp;{{user.name}}</p><a style="width:100%;max-height:40px" href="/profile/{{ user.id }}" class="small button">PROFILE</a></td>
            <td><a style="width:100%" href="/message/project/{{ slug }}/{{ user.id }}" class="button go">GO</a></td>
          </tr>
        {{else}}
        <tr>
          <td colspan="3">N / A</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <br>
  <h3>Sold Gifts</h3>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th><p class="align-center">Name</p></th>
          <th><p class="align-center">Purchaser</p></th>
          <th><p class="align-center">Amount</p></th>
          <th><p class="align-center">FULFILL</p></th>
          <th><p class="align-center">Message</p></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.project.giftPurchases}}
          <tr>
            <td><p class="align-center">{{gift.name}}</p></td>
            <td><p class="align-center_min" style="display:block"><img src="{{ user.avatar }}" class="attachment-image-preview m40">&nbsp;&nbsp;{{user.name}}</p><a style="width:100%;max-height:40px" href="/profile/{{ user.id }}" class="small button">PROFILE</a></td>
            <td><p class="align-center">{{amount}}</p></td>
            <td><a class="button special fulfill_gift" style="width: 100%;">FULFILL</a></td>
            <td><a style="width:100%" href="/message/project/{{ slug }}/{{ user.id }}" class="button go">GO</a></td>
          </tr>
        {{else}}
        <tr>
          <td colspan="5">N / A</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <br>
  <h3>Donations</h3>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th><p class="align-center">Donee</p></th>
          <th><p class="align-center">Donation Amount</p></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.project.donations}}
          <tr>
            <td><p class="align-center_min">{{donationObject.user.first}} {{donationObject.user.last}}</p></td>
            <td><p class="align-center_min">${{amount}}</p></td>
          </tr>
        {{else}}
          <tr>
            <td colspan="2">N / A</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>