<template name="projectMessage">
  <div id="content" class="clearfix layout-fixed-width">
    <div class="clearfix wrapper">
        <header id="page-title">
            <h1 class="title">Messages</h1>
            <h2 class="subtitle">relating to campaign {{project.title}}</h2>
        </header>
        <div class="normal-content no-boxed">
          <div class="krown-column-row clearfix">
            {{#each messages}}
              <div class="krown-column-container clearfix first span12 clearfix">
                  <section class="krown-box light-1 clearfix">
                    {{> comment}}
                  </section>
              </div>
            {{/each}}
          </div>
          <div class="krown-column-row clearfix">
            {{> messageBox}}
          </div>
        </div>
    </div>
  </div>
</template>