<template name="projectMessage">
  <div id="content" class="clearfix layout-fixed-width">
    <div class="clearfix wrapper">
        <header id="page-title">
            {{foo}}
            <h1 class="title">Negotiations</h1>
            <h2 class="subtitle">Form a legally binding contract between {{userName}} and campaign "{{project.title}}"</h2>
            <p>&nbsp;</p>
            <div class="krown-column-row clearfix">
              <div class="krown-column-container clearfix first span12 clearfix">
                <section class="krown-box light-1 clearfix">
                <h4>OFFER</h4>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>type of offer</th>
                      <th>consideration</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#each offers}}
                    {{>projectMessageOffer}}
                  {{else}}
                    <tr>NO OFFERS TO SHOW</tr>
                  {{/each}}
                  </tbody>
                </table>
                </section>
              </div>
            </div>
            {{#if isProjectOwner}}
            <div class="krown-column-row clearfix">
              <div class="krown-column-container clearfix first last span12 clearfix">
                <h3>FINAL OFFER</h3>
                <p><small>Negotiate with applicant and form agreement. Make changes to the fields, and they will save automatically. <strong>Submit only after your negotiations are completed</strong>.</small></p>
                <div class="krown-accordion accordion large clearfix">
                    <section>
                        <h5>ROLES</h5>
                        <div>
                            <h4>List of roles this user is accepted to perform.</h4>
                            <textarea id="negotiationRoles">{{negotiationRoles}}</textarea>
                        </div>
                    </section>
                    <section>
                        <h5>TERMS</h5>
                        <div>
                            <h4>Define the essential performance terms expected from this member.</h4>
                            <textarea id="negotiationTerms">{{negotiationTerms}}</textarea>
                        </div>
                    </section>
                    <section>
                        <h5>DAMAGES</h5>
                        <div>
                            <h4>Specific outcomes in case the member purposely fails to perform.</h4>
                            <textarea id="negotiationDamages">{{negotiationDamages}}</textarea>
                        </div>
                    </section>
                    <section>
                        <h5>FINANCIAL</h5>
                        <div>
                            <div class="form-group">
                              <label for="financials"><strong>How much to pay applicant for their role.</strong></label>
                              <input type="number" class="form-control" id="financials" placeholder="{{negotiationFinancial}}">
                          </div>
                        </div>
                    </section>
                    <section>
                        <h5>EQUITY</h5>
                        <div>
                            <div class="form-group">
                              <label for="equities"><strong>How much equity is bargained for applicant for their role.</strong></label>
                              <input type="number" class="form-control" id="equities" placeholder="{{negotiationEquities}}">
                              <p></p>
                          </div>
                        </div>
                    </section>
                </div>
              </div>
            </div>

            <!-- FINAL OFFER FORM -->
            <!-- ROLES -->
            <!-- SPECIFIC TERMS -->
            <!-- FINAL AMOUNT -->
            <!-- EQUITY CONSIDERATION -->
            <p>&nbsp;</p>
            <hr>
            {{/if}}
            
            <!-- <h4>PAYMENTS</h4>
            {{#each receipts}}
              {{>projectMessagePayment}}
            {{else}}
              <tr>NO PAYMENTS RECEIVED TO DATE</tr>
            {{/each}} -->
        </header>
        <div class="normal-content no-boxed">
          <div class="krown-column-row clearfix">
            {{#each messages}}
              <div class="krown-column-container clearfix first span12 clearfix">
                  <section class="krown-box light-1 clearfix">
                    {{> comment}}
                  </section>
              </div>
            {{/each}}
          </div>
          <div class="krown-column-row clearfix">
            {{> messageBox}}
          </div>
        </div>
    </div>
  </div>
  <script src="/js/scripts.min.js" defer></script>
</template>

<template name="projectMessageOffer">
  <tr>
    <td>{{considerationType}}</td>
    <td>{{considerationItself}}</td>
  </tr>
</template>

<template name="projectMessagePayment">

</template>