<template name="applicantsHelper">
  <tr>
    {{foobar}}
    <td style="display:flex"><p class="align-center_min" style="display:block"><img src="{{ user.avatar }}" class="img-responsive img-thumbnail" style="max-height:50px;max-width:50px">&nbsp;&nbsp;{{user.name}}</p><a style="width:100%;max-height:40px;top:15px;position:relative;" href="/profile/{{ user.id }}" class="btn btn-mini btn-default">PROFILE</a></td>

    <td><a style="width:100%;top:15px;position:relative;" href="/message/project/{{ currentSlug }}/{{ user.id }}" val="{{thisString}}" class="btn btn-mini btn-primary {{#unless poke}}initiateNegotiate{{/unless}}">{{typeofRequest}}</a></td>
  </tr>
</template>

<template name="projectView">

  <div id="content" class="clearfix ">

    <div class="clearfix wrapper">

        <header id="page-title" style="padding-top: 0px;">
            <h1 class="title">{{project.title}}</h1>
            {{#if currentUser}}
            {{#unless isOwner}}
            <button type="button" id="thumbsup" class="{{thumbsupactive}}">
              <i class="fa fa-thumbs-up"></i>
              Like
            </button>
            {{else}}
            <button type="button" id="thumbsup" style="background:transparent;box-shadow:none;" disabled>
              <i class="fa fa-thumbs-up"></i>
              {{numLikes}} Likes
            </button>
            {{/unless}}
            {{/if}}
            <h2 class="subtitle">{{project.logline}}</h2>
        </header>

        <div class="normal-content ">

            <div id="project-container" class="krown-tabs responsive-on clearfix">

                <ul class="titles clearfix">
                  {{#if isOwner}}
                      <li class="opened">
                          <h5>Description</h5></li>
                      <li class="">
                          <h5>Updates</h5></li>
                      <li class="">
                          <h5>Comments</h5></li>
                      <li class="">
                          <h5>Community</h5></li>
                      <li class="">
                          <h5>Team</h5></li>
                      <li class="">
                          <h5>Edit</h5></li>
                      <div class="tabs-select">
                        <span class="tabs-select-cover" style="display: inline-block; position: relative; top: 0px; left: 0px; z-index: 0; vertical-align: middle; text-align: left; width: 198px;">
                          <select style="opacity: 0; visibility: visible; position: absolute; top: 0px; left: 0px; display: inline; z-index: 1;">
                            <option>Description</option>
                            <option>Updates</option>
                            <option>Comments</option>
                            <option>Community</option>
                            <option>Team</option>
                            <option>Edit</option>
                          </select>
                          <span class="tabs-select-inner" style="display: block; white-space: nowrap;">Description</span>
                        </span> 
                      </div>
                  {{else}}
                    {{#if isAllowed}}
                        <li class="opened">
                            <h5>Description</h5></li>
                        <li class="">
                            <h5>Updates</h5></li>
                        <li class="">
                            <h5>Comments</h5></li>
                        <li class="">
                            <h5>Community</h5></li>
                        <li class="">
                            <h5>Manage</h5></li>
                        <div class="tabs-select">
                          <span class="tabs-select-cover" style="display: inline-block; position: relative; top: 0px; left: 0px; z-index: 0; vertical-align: middle; text-align: left; width: 198px;">
                            <select style="opacity: 0; visibility: visible; position: absolute; top: 0px; left: 0px; display: inline; z-index: 1;">
                              <option>Description</option>
                              <option>Updates</option>
                              <option>Comments</option>
                              <option>Community</option>
                              <option>Manage</option>
                            </select>
                            <span class="tabs-select-inner" style="display: block; white-space: nowrap;">Description</span>
                          </span> 
                        </div>
                    {{else}}
                        <li class="opened">
                            <h5>Description</h5></li>
                        <li class="">
                            <h5>Updates</h5></li>
                        <li class="">
                            <h5>Comments</h5></li>
                        <li class="">
                            <h5>Community</h5></li>
                        <div class="tabs-select">
                          <span class="tabs-select-cover" style="display: inline-block; position: relative; top: 0px; left: 0px; z-index: 0; vertical-align: middle; text-align: left; width: 198px;">
                            <select style="opacity: 0; visibility: visible; position: absolute; top: 0px; left: 0px; display: inline; z-index: 1;">
                              <option>Description</option>
                              <option>Updates</option>
                              <option>Comments</option>
                              <option>Community</option>
                            </select>
                            <span class="tabs-select-inner" style="display: block; white-space: nowrap;">Description</span>
                          </span> 
                        </div>
                    {{/if}}
                  {{/if}}     
                </ul>

                <div class="contents clearfix">
                    <div id="description" style="display: block;">
                        <div class="project-header">

                            {{#if project.videoExplainer}}
                            <div class="video-container">
                                <div class="fluid-width-video-wrapper" style="padding-top: 56.2278%;">
                                    <iframe src="{{project.videoExplainer}}" frameborder="0" title="{{project.title}}" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            {{else}}
                            <div class="mini">
                                <ul class="slides">

                                    <li class="slide"><img src="{{project.banner}}" width="845" height="573" alt=""></li>
                                </ul>
                            </div>
                            {{/if}}
                        </div>
                        <div class="project-content">
                            <aside class="share-buttons clearfix">
                                <p>Share this project</p>
                                <div class="holder clearfix">
                                    {{> shareit shareData}}
                                </div>
                            </aside>
                            <div id="formatted_desc">{{formattedDescription}}</div>
                            <p>&nbsp;</p>
                            <div class="krown-accordion accordion large clearfix">
                              {{#if project.creatorsInfo}}
                                  <section>
                                      <h5>ABOUT THE CREATORS</h5>
                                      <div>
                                          <p>{{project.creatorsInfo}}</p>
                                      </div>
                                  </section>
                              {{/if}}


                              {{#if project.historyInfo}}
                                  <section>
                                      <h5>PROJECT HISTORY</h5>
                                      <div>
                                          <p>{{project.historyInfo}}</p>
                                      </div>
                                  </section>
                              {{/if}}


                              {{#if project.plansInfo}}
                                  <section>
                                      <h5>PROJECT PLANS</h5>
                                      <div>
                                          <p>{{project.plansInfo}}</p>
                                      </div>
                                  </section>
                              {{/if}}


                              {{#if project.needsInfo}}
                                  <section>
                                      <h5>EXPLANATION OF NEEDS</h5>
                                      <div>
                                          <p>{{project.needsInfo}}</p>
                                      </div>
                                  </section>
                              {{/if}}

                              {{#if project.significanceInfo}}
                                  <section>
                                      <h5>SIGNIFICANCE OF WORK</h5>
                                      <div>
                                          <p>{{project.significanceInfo}}</p>
                                      </div>
                                  </section>
                              {{/if}}
                            </div>
                        </div>
                    </div>

                    <div id="updates" class="project-content container" style="display: none;width: 100%;">
                      {{#if isOwner}}
                        <div id="respond" class="comment-respond margin_bottom40">
                          <h3 id="reply-title" class="comment-reply-title">Announce Update</h3>
                          <form class="comment-form">
                              <div class="krown-column-container span12 last" style="margin-left:0">
                                  <label for="update">Your update</label>
                                  <textarea id="update-box" name="update" rows="8" style="height: 133px;"></textarea>
                              </div>
                              <p class="form-submit">
                                  <input name="submit" type="submit" id="submit-update" class="submit" value="Post Update">
                              </p>
                              <p style="display: none;">
                                  <input type="hidden" >
                              </p>
                              <p style="display: none;"></p>
                          </form>
                        </div>
                      {{/if}}
                      {{#each project.updates}}
                          <div class="row">
                            <div class="col-sm-12">
                                <h3 id="comments-title"><span style="color: #000000;"><strong>Update {{inc @index}}<br></strong></span></h3>
                            </div>
                            <p>&nbsp;</p>
                            <div class="col-sm-9">
                                <h4>{{this.text}}</h4>
                            </div>
                            <div class="col-sm-3">
                                <p>{{formattedUpdateDate}}</p>
                            </div>
                          </div>
                      {{else}}
                        <h3 id="comments-title"><span style="color: #000000;"><strong>There are no updates to show.<br></strong></span></h3>
                      {{/each}}
                    </div>

                    <div id="comments" class="project-content" style="display: none;">

                        <aside id="comments">

                            <h3 id="comments-title">Comments ({{numComments}})</h3>

                            <ol id="comments-list">
                              {{#each projectComments}}
                                {{>comment}}
                              {{/each}}
                            </ol>

                            {{> commentBox}}

                            
                            <!-- #respond -->

                        </aside>
                    </div>

                    <div id="backers" class="project-content" style="display: none;">

                        <h3 id="comments_title">Community ({{backers}})</h3>
                        <ol id="comments-list">

                            {{#each this.project.donations}}
          
                                <li class="comment clearfix">

                                    <div class="comment-content">

                                        <div class="comment-meta clearfix">

                                            <h6 class="comment-title">{{user.name}}</h6>
                                            <div>
                                                <img alt="" src="{{user.avatar}}" class="avatar avatar-65 photo" height="65" width="65"> 
                                            </div>

                                        </div>

                                        <strong class="comment-price">${{amount}}</strong>

                                    </div>

                                </li>
                                <tr>

                              </tr>
                            {{/each}}

                        </ol>
                    </div>

                    <div id="manage" class="project-content" style="display: none;">
                        {{#if isOwner}}
                          {{> applicants}}
                          <p>&nbsp;</p>
                          {{#if isWidth}}
                          <a id="boardButton" class="btn btn-default btn-lg col-sm-12 major_proj_action_buttons margin_bottom40" href="/boards/{{_bid}}/{{_slug}}">Access Board</a>
                          {{/if}}
                          <p>&nbsp;</p>
                          <a id="closeProj" class="btn btn-danger btn-lg col-sm-12 major_proj_action_buttons margin_bottom40" href="#!">DELETE CAMPAIGN</a>
                        {{/if}}
                    </div>

                    <div id="edit" class="project-content" style="display: none;">
                      {{> editProject}}
                    </div>
                </div>
                
                <aside id="project-sidebar" style="padding-bottom: 0px; height: auto;position: relative;">
                    {{#unless isOwner}}
                    <div class="id-widget-wrap nofloat">
                        <div class="id-widget id-full">
                            <div class="id-product-infobox">
                                <div class="panel clearfix" style="padding-top:10px!important;padding-bottom:10px!important;">
                                    <div class="product-wrapper clearfix">
                                        <div class="clearing"></div>
                                        <div class="rholder">
                                          <div class="rpdata">
                                                <div class="id-progress-raised"> ${{projectBudgetIfExists}}&nbsp;<span style=" font-size: 13px;line-height: 13px;color: #949494;margin: 0;">{{showNeeded}}</span></div>
                                                <div class="id-product-funding">{{projectFundedIfExists}}</div>
                                            </div>
                                            <p>&nbsp;</p>
                                            <div class="rpdata btn-group btn-group-justified" role="group" aria-label="Justified button group"> 
                                              
                                              {{#if anyRolesNoAuth}}
                                                  <a href="#" id="join-roles" class="btn btn-default" role="button">APPLY</a> 
                                                  <a href="#" id="offer-donation" class="btn btn-default" role="button">DONATE&nbsp;</a> 
                                              {{else}}
                                                <a href="#" id="offer-donation" class="btn btn-default" role="button">DONATE&nbsp;</a> 
                                              {{/if}}
                                              <p>&nbsp;</p>
                                              {{#if anyShares}}
                                                <div class="rpdata">
                                                  <div class="id-progress-raised"> {{anyShares}}<span style=" font-size: 13px;line-height: 13px;color: #949494;margin: 0;">&nbsp;shares</span></div>
                                                  <div class="margin_bottom20">${{mpps}}<span style=" font-size: 13px;line-height: 13px;color: #949494;margin: 0;"> per share</span></div>
                                                </div>
                                                {{#if currentUser}}
                                                  <a href="#" id="buy-shares" class="btn btn-default" role="button">PURCHASE&nbsp;</a> 
                                                  {{else}}
                                                  <small>Login to purchase interests of this campaign's future earnings, which you can own forever!</small>
                                                {{/if}}
                                              {{/if}}
                                            </div>
                                            
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>

                                    {{#if anyRoles}}
                                    <div class="large clearfix">
                                        <section class="rholder">
                                            <h5>Project Needs</h5>
                                            <div>
                                              {{#if castLN}}
                                              <div class="rpdata">
                                                  <p class="form-submit">
                                                      <div class="id-product-total glow-offer" ><a href="#!" id="view-cast-positions" style="color:red!important">{{castLN}}</a></div>
                                                      <div class="id-product-pledges">cast positions available</div>
                                                  </p>
                                              </div>
                                              {{/if}}

                                              {{#if crewLN}}
                                              <div class="rpdata">
                                                  <p class="form-submit">
                                                      <div class="id-product-total glow-offer" ><a href="#!" id="view-crew-positions" style="color:red!important">{{crewLN}}</a></div>
                                                      <div class="id-product-pledges">crew positions available</div>
                                                  </p>
                                              </div>
                                              {{/if}}

                                              {{#if needLN}}
                                              <div class="rpdata">
                                                  <p class="form-submit">
                                                      <div class="id-product-total glow-offer" ><a href="#!" id="view-need-positions" style="color:red!important">{{needLN}}</a></div>
                                                      <div class="id-product-pledges">resources needed</div>
                                                  </p>
                                              </div>
                                              {{/if}}
                                              <p>&nbsp;</p>
                                            </div>
                                        </section>
                                    </div>
                                    {{/if}}


                                    <div class="id-product-proposed-end" style="margin-left:10px;margin-top:5px!important;">Created
                                        <div class="id-widget-date">
                                            <div class="id-widget-month">{{project.createdAt}}</div>
                                        </div>
                                    </div>
                                    <div class="btn-container" style="display: block;">
                                    </div>
                                </div>

                                <!-- end product-wrapper -->

                                <div class="separator">&nbsp;
                                    <div id="project-p-author" class="panel clearfix">

                                        <div class="comment-avatar">
                                            <img alt="" src="{{project.ownerAvatar}}" class="avatar avatar-65 photo" height="65" width="65"> 
                                        </div>

                                        <div class="comment-content">

                                            <span>Project by</span>

                                            <h6>{{project.ownerName}}</h6>

                                            <ul class="author-meta">

                                                <li><a href="/profile/{{project.ownerId}}">View Profile</a></li>

                                            </ul>

                                        </div>

                                    </div>
                                </div>
                                <div class="id-widget-wrap nofloat">
                                  <div class="id-widget id-full">
                                      <div class="id-product-infobox">
                                        <span class="btn btn-default" id="reportthis"><i class="glyphicon glyphicon-flag"></i> REPORT THIS CONTENT</span>
                                      </div>
                                  </div>
                                </div>
                                <!-- GIFTS -->
                                {{#if hasGifts}}
                                <div class="id-product-levels">
                                  <h4 class="avatar-option await btn-lg purchaselabel" style="top:10px;">MERCHANDISE</h4>
                                  <br>
                                  <span class="purchaselabel glyphicon glyphicon-arrow-down h1b" aria-hidden="true" style="top: -10px;color: red;"></span>
                                  {{#each project.gifts}}
                                    <a class="level-binding purchase_gift">
                                        <div class="level-group">
                                            <div class="id-level-title"><span>{{this.name}}:</span> ${{this.msrp}}</div>
                                            <div class="id-level-desc">
                                                <p>{{this.description}}</p>
                                                <!-- <p class="code">quantity available ({{this.quantity}})</p> -->
                                            </div>
                                        </div>
                                        <p class="align-center"><a class="c-related__a button special">PURCHASE NOW</a></p>
                                    </a>
                                    {{else}}
                                    <script type="text/javascript">$('.purchaselabel').hide();</script>
                                  {{/each}}
                                </div>
                                {{/if}}
                                <!-- end product levels -->
                            </div>
                            <!-- end product-infobox -->                       
                        </div>
                        <!-- end id-widget -->
                    </div>
                    <!--if show author -->
                    {{else}}
                    <div class="id-widget-wrap nofloat">
                        <div class="id-widget id-full">
                            <div class="id-product-infobox">
                                <div class="panel clearfix" style="padding-top:10px!important">
                                    <div class="product-wrapper clearfix">
                                        <div class="clearing"></div>
                                        <div class="rholder">
                                          <div class="rpdata">
                                                <div class="id-progress-raised">${{fundedNumber}}</div>
                                                <div class="id-product-funding">funds raised</div>
                                          </div>
                                          <p>&nbsp;</p>
                                          <div class="rpdata">
                                                <div class="id-progress-raised"> {{numUpdates}}</div>
                                                <div class="id-product-funding">updates</div>
                                          </div>
                                          <p>&nbsp;</p>
                                          <div class="rpdata">
                                                <div class="id-progress-raised"> {{numComments}}</div>
                                                <div class="id-product-funding">comments</div>
                                          </div>
                                          <p>&nbsp;</p>
                                          <div class="rpdata">
                                                <div class="id-progress-raised"> {{numBackers}}</div>
                                                <div class="id-product-funding">backers</div>
                                          </div>
                                          <p>&nbsp;</p>
                                          <p>&nbsp;</p>
                                          <h4>CAMPAIGN EQUITY</h4>
                                          {{#if hasEquity}}
                                          <div class="rpdata">
                                                <div class="id-progress-raised"> {{this.project.totalShares}}</div>
                                                <div class="id-product-funding">total public</div>
                                          </div>
                                          <p>&nbsp;</p>
                                          <div class="rpdata">
                                                <div class="id-progress-raised"> {{soldShares}}</div>
                                                <div class="id-product-funding">public sold</div>
                                          </div>
                                          {{/if}}
                                          <p>&nbsp;</p>
                                          <div class="rpdata">
                                                <div class="id-progress-raised"> {{privateShares}}</div>
                                                <div class="id-product-funding">total private</div>
                                          </div>
                                          <p>&nbsp;</p>
                                          <div class="rpdata">
                                                <div class="id-progress-raised"> {{availableShares}}</div>
                                                <div class="id-product-funding">private reserve</div>
                                          </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end product-infobox -->                       
                        </div>
                        <!-- end id-widget -->
                    </div>
                    {{/unless}}
                    <div class="poweredbyID"><span><a href="https://opensourcehollywood.org" title="Crowdfunding and Crowdsourcing by Open Source Hollywood">Powered By Open Source Hollywood</a></span></div>
                </aside>
                
            </div>
        </div>

        <!-- Inner Wrapper End -->
    </div>

    <!-- Main Wrapper End -->
  </div>
  <script type="text/javascript" src="/js/scripts.min.js"></script>
  <script type="text/javascript">
    var myInterval;
    function glowToClick() {
      try { clearInterval(myInterval); } catch(e) {};
      myInterval = setInterval(function(){
          $('.glow-offer').toggleClass('glow');
      }, 1000);
    }
    glowToClick();
  </script>
</template>

<template name="applicants">
  <h3>Applicants</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><p class="align-center">Applicant</p></th>
          <th><p class="align-center">NEGOTIATE</p></th>
        </tr>
      </thead>
      <tbody>
        {{#if hasApplicant}}
          {{#each applicants}}
            {{ >applicantsHelper}}
          {{/each}}
        {{else}}
          <tr>
            <td colspan="6">None Applied</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  <br>
  <h3>Offered Resources</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><p class="align-center">Asset</p></th>
          <th><p class="align-center">User</p></th>
          <th><p class="align-center">NEGOTIATE</p></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.project.offeredResources}}
          <tr>
            <td><p class="align-center">{{asset}}</p></td>
            <td><p class="align-center_min" style="display:block"><img src="{{ user.avatar }}" class="img-responsive img-thumbnail" style="max-height:50px;max-width:50px">&nbsp;&nbsp;{{user.name}}</p><a style="width:100%;max-height:40px" href="/profile/{{ user.id }}" class="btn btn-mini btn-default">PROFILE</a></td>
            <td><a style="width:100%" href="/message/project/{{ currentSlug }}/{{ user.id }}" class="btn btn-mini btn-primary">SEND MSG</a></td>
          </tr>
        {{else}}
        <tr>
          <td colspan="4">None Offered</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <br>
  <h3>Sold Gifts</h3>
  <div class="table-responsive">
    <table class="table margin_bottom40">
      <thead>
        <tr>
          <th><p class="align-center">Name</p></th>
          <th><p class="align-center">Purchaser</p></th>
          <th><p class="align-center">FULFILL</p></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.project.giftPurchases}}
          <tr>
            <td><p class="align-center">{{gift.name}}</p></td>
            <td><p class="align-center_min" style="display:block"><img src="{{ user.avatar }}" class="img-responsive img-thumbnail" style="max-height:50px;max-width:50px">&nbsp;&nbsp;{{user.name}}</p><a style="width:100%;max-height:40px" href="/profile/{{ user.id }}" class="btn btn-mini btn-default">PROFILE</a></td>
            <td><a class="btn btn-mini btn-warning fulfill_gift" style="width: 100%;">FULFILL</a></td>
          </tr>
        {{else}}
          <tr>
            <td colspan="3">None Sold</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <br>
</template>