<template name="projectHome">
  <div id="page-wrapper">
    <div id="main" class="wrapper style1">
      <div class="container">
      
          <header class="major">
              <h2>Welcome to Open Source Hollywood</h2>
              <p>Create or join projects, check out our Terms and About Us with the links above.</p>

              <div class="btn-toolbar" role="toolbar">
                {{#if counts3}}
                    <div class="btn-group" role="group">
                      {{>sortBar}}
                    </div>
                {{/if}}
                {{#if counts30}}
                    <div class="btn-group pull-right" role="group">
                      {{>pager}}
                    </div>
                {{/if}}
              </div>
          </header>

          <!-- Text -->

              <div class="c-related">
                  <div class="table-wrapper">
                    <table>
                      <caption style="position:  relative;width:  100vw;"><strong>ALL CAMPAIGNS</strong></caption>
                    </table>
                  </div>
                  {{#each projects}}
                    <div class="c-related__item projtab">
                      <div class="c-related__figure">
                        <a href="/projects/{{slug}}/{{ownerId}}" class="c-related__a">
                          <img class="c-related__img projtabimg" src="{{banner}}" />
                        </a>
                      </div>
                      <div class="c-related__supplier proj__supplier">
                        <div class="row">
                          <div class="col-sm-6">
                            <!-- title -->
                            <small style="color: #94ffa1;">{{purpose}}</small>
                          </div>
                          <div class="col-sm-6">
                            <!-- location -->
                            <small style="color: #73ffff;">{{category}}</small>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <!-- title -->
                            <small style="color: #fa94fa;">{{city}}, {{state}}&nbsp;&nbsp;&nbsp;&nbsp;{{zip}}</small>
                          </div>
                        </div>
                        <h4 class="h10"><p class="align-center">{{formattedTitle}}</p></h4>
                        <p class="align-center defaultQ">{{defaultQ}}</p>

                          {{#if currentUser}}
                          <a class="c-related__a button quick_apply">QUICK APPLY</a>
                          {{/if}}
  
                      </div>
                    </div>
                  {{else}}
                    <div class="c-related__item mod80">
                      <div class="c-related__title">
                        <h3 class="h10"><p class="align-center">No campaigns, <a id="createnewproject">create one now</a></p></h3>
                      </div>
                    </div>
                  {{/each}}
              </div>
 
      </div>
    </div>
  </div>
</template>
