<template name="projectTabs">
  <div id="page-wrapper">
    {{#if foo}}
    <div class="alert alert-danger col-md-12" role="alert">
      <strong>Missing Roles!</strong>
      " Select one or more primary and secondary roles in <a href="/settings">Edit Profile</a> to create campaigns. "
    </div>
    {{/if}}
    <div id="main" class="wrapper style1">
      <div class="container">
      
          <header class="major">
              <h2>Live Campaigns</h2>
              <p>Browse, view, and participate.</p>

              <div class="btn-toolbar" role="toolbar">
                {{#if counts3}}
                    <div class="btn-group" role="group">
                      {{>sortBar}}
                    </div>
                {{/if}}
                {{#if counts30}}
                    <div class="btn-group pull-right" role="group">
                      {{>pager}}
                    </div>
                {{/if}}
              </div>
          </header>

          <!-- Text -->
          <section>
            <div class="container">
              <div class="c-related">
                
                    <!--                     <div class="c-related__item mod80">
                      <div class="c-related__title">
                        <h3 class="h10"><p class="align-center" style="line-height: 1.5rem">Edit Profile to View, Create, and Join Campaigns</p></h3>
                        <div class="c-related__supplier"><p class="align-center"><blockquote>select "Edit Profile" from the navigation menu above</blockquote></p></div>  
                      </div>
                    </div> -->
               
                  {{#each projects}}
                    <div class="c-related__item projtab">
                      <div class="c-related__figure">
                        <a href="/projects/{{slug}}/{{ownerId}}" class="c-related__a">
                          <img class="c-related__img projtabimg" src="{{banner}}" />
                        </a>
                      </div>
                      <div class="proj__supplier">
                        <h4 class="h10">{{formattedTitle}}</h4>
                        <div class="c-related__supplier"><p class="align-center defaultQ">{{defaultQ}}</p></div>

                        <a class="c-related__a button quick_apply">QUICK APPLY</a>
                        
                      </div>
                    </div>
                  {{else}}
                    <div class="c-related__item mod80">
                      <div class="c-related__title">
                        <h3 class="h10"><p class="align-center">No campaigns, <a id="createnewproject">create one now</a></p></h3>
                      </div>
                    </div>
                  {{/each}}
              </div>
            </div>
          </section>
      </div>
    </div>
  </div>
</template>


<template name="userTabs">
  <style type="text/css">
    document { display: none; }
  </style>

  <div class="container">
    <hr>
    <div class="col-sm-12">

       <div class="btn-toolbar" role="toolbar" aria-label="...">
          {{#if counts3}}
          <div class="btn-group" role="group" aria-label="...">
            {{> usortBar}}
          </div>
          {{/if}}
          {{#if counts30}}
          <div class="btn-group pull-right" role="group" aria-label="...">
            {{>pager}}
          </div>
          {{/if}}
       </div>

      <br>
    </div>

    <div class="col-sm-12">
      <ol>
        {{#each users}}
        <a href="/profile/{{ this._id }}">
          <figure class="snip1376"><img src="{{ this.avatar }}" />
            <figcaption>
                <h2>{{ formattedName }}</h2>
                <p>{{ formattedBio }}</p>
                <div class="icons">
                    <a href="#"><i class="ion-thumbsup"></i>{{ this.score }}</a>
                    <a href="#"> <i class="ion-android-star-outline">{{ this.rating }}</i>
                    </a>
                </div>
            </figcaption>
        </figure>
        </a>
        {{/each}}
      </ol>
    </div>

  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      setTimeout(function() {
        $('document').fadeIn();
      }, 800);
    });
  </script>
</template>
