<template name="memberHeader">
    <div class="col-xs-6">
<!--         <a id="stats" class="header-btn header-member moveupmember">
            <span class="header-btn-text js-member-name">{{_ 'stats'}}</span>
        </a>
        <a id="cal" class="header-btn header-member moveupmember">
            <span class="header-btn-text js-member-name">{{_ 'calendar'}}</span>
        </a>
        <a id="tasks" class="header-btn header-member moveupmember">
            <span class="header-btn-text js-member-name">{{_ 'tasks'}}</span>
        </a>
        <a id="asss" class="header-btn header-member moveupmember">
            <span class="header-btn-text js-member-name">{{_ 'assets'}}</span>
        </a>
        <a id="mine" class="header-btn header-member moveupmember">
            <span class="header-btn-text js-member-name">{{_ 'mine'}}</span>
        </a> -->
    </div>
    <div class="header-user">
        <a class="header-btn header-member js-open-header-member-menu" href="#">
            {{> userAvatar user=currentUser size="small" }}
            <span class="header-btn-text js-member-name">{{_ 'settings'}}</span>
        </a>
        <a id="exit" class="header-btn header-member">
            <span class="header-btn-text js-member-name">exit</span>
        </a>
    </div>
</template>

<template name="statsPopup">
    <canvas id="canvas" width="400" height="400"></canvas>
</template>

<template name="calPopup">
    <br><br>
    <div id="cali"></div>
    {{calendarOptions}}
</template>

<template name="tasksPopup">
    <br><br>
    <div class="board-member-menu">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th style="color:#333">Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color:#333">Total</td>
                    <td style="color:#333">{{ tasks.tasksTotal }}</td>
                </tr>
                <tr>
                    <td style="color:#333">Finished</td>
                    <td style="color:#333">{{ tasks.tasksCompleted }}</td>
                </tr>
                <tr>
                    <td style="color:#333">Remaining</td>
                    <td style="color:#333">{{ tasks.tasksRemaining }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<template name="asssPopup">
    <br><br>
    {{#if noAsss}}
    <h3 style="color:#333">There are no assets</h3>
    {{else}}
    <div class="board-member-menu">
        {{#each asss}}
            <div class="list-group">
                <a style="color:#333" class="list-group-item list-card-details clearfix show active" href="{{ this.card }}">
                    View Asset
                </a>
              {{#each this.val}}
                <li class="list-group-item" style="color:#333">
                    <span style="color:#333" class="asset_popup_mime label label-info label-pill pull-xs-right">{{this.type}}</span>
                    {{this.name}}
              </li>
              {{/each}}
            </div>
        {{/each}}
    </div>
    {{/if}}
</template>

<template name="minePopup">
    <br/><br/>
    {{#each mine}}
        <div class="list-group">
            <a style="color:#333" class="list-group-item-info list-card-details clearfix show" href="{{ this.href }}">
                {{this.title}}
            </a>
        </div>
    {{/each}}
</template>

<template name="memberMenuPopup">
    <ul class="pop-over-list checkable">
        <li><a class="js-language">{{_ 'language'}}</a></li>
    </ul>
</template>

<template name="setLanguagePopup">
    <ul class="pop-over-list">
        {{#each languages}}
            <li class="{{# if isCurrentLanguage}}active{{/if}}">
                <a class="js-set-language">
                    {{name}}
                    {{# if isCurrentLanguage}}
                        <span class="icon-sm fa fa-check"></span>
                    {{/if}}
                </a>
            </li>
        {{/each}}
    </ul>
</template>

<template name="userPopup">
    <div class="board-member-menu">
        <div class="mini-profile-info">
            {{> userAvatar user=user}}
            <div class="info">
                <h3 class="bottom" style="margin-right: 40px;">
                    <a class="js-profile" href="/profile/{{ user.profile._id }}">{{ user.profile.name }}</a>
                </h3>
                <p class="quiet bottom">@{{ user.profile.username }}</p>
            </div>
        </div>
    </div>
</template>

<template name="memberName">
    <a class="inline-object js-show-mem-menu" href="/profile/{{ user._id }}">
        {{ user.firstName }} {{ user.lastName }}
    </a>
</template>

<template name="userAvatar">
    <div class="member {{size}} {{ class }} {{# if draggable }}js-member{{else}}js-member-on-card-menu{{/ if}}"
         title="{{ name }} ({{ username }})">
        <div class="avatar avatar-{{size}} avatar-hide-image">
            <img class="avatar-image" src="{{ thumbnailUrl }}"/>
        </div>
    </div>
</template>

<template name="memberAvatar">
    <div class="member {{size}} {{ class }} {{# if draggable }}js-member{{else}}js-member-on-card-menu{{/ if}}"
         title="{{ name }} ({{ username }})">
        <div class="avatar avatar-{{size}} avatar-hide-image">
            <img class="avatar-image" src="{{ thumbnailUrl }}"/>
        </div>
<!--         <span class="member-status {{# if status}}active{{/if}}"></span> -->
        <span class="member-type {{ memberType }}"></span>
    </div>
</template>

<template name="applicantAvatar">
    <div class="member {{size}}"
         title="{{ name }} ({{ username }})">
        <div class="avatar avatar-{{size}} avatar-hide-image">
            <img class="avatar-image" src="{{ thumbnailUrl }}" style="max-width:100%;max-height:100%;">
        </div>
    </div>
    <div>
        <a href="/profile/{{this.user.id}}"><p><u>{{name}}</u></p></a>
        <p>{{_ 'contribution'}} ${{contribution}}</p>
    </div>  
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success accept">{{_ 'accept'}}</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger reject">{{_ 'reject'}}</button>
      </div>
    </div>
</template>

<template name="dashboard">
    <div id="content" class="clearfix ">

    <div class="clearfix wrapper">

        <header id="page-title">
            <h1 class="title">Dashboard</h1>
            <h2 class="subtitle">Active projects, negotiations, investments, and merchant center.</h2></header>

        <div class="normal-content ">

            <div id="project-container" class="krown-tabs responsive-on clearfix">

                <ul class="titles clearfix" id="settings_menu">
                    <li class="opened">
                        <h5>ACTIVE</h5></li>
                    <li class="">
                        <h5>MERCHANT</h5></li>
                    <li class="">
                        <h5>HOLDINGS</h5></li>
                    <li class="">
                        <h5>PENDING</h5></li>
                    <div class="tabs-select"><span class="tabs-select-cover" style="display: inline-block; position: relative; top: 0px; left: 0px; z-index: 0; vertical-align: middle; text-align: left; width: 198px;">
                      <select style="opagomaincity: 0; visibility: visible; position: absolute; top: 0px; left: 0px; display: inline; z-index: 1;">
                        <option>ACTIVE</option>
                        <option>MERCHANT</option>
                        <option>HOLDINGS</option>
                        <option>PENDING</option>
                      </select>
                      <span class="tabs-select-inner" style="display: block; white-space: nowrap;">SELECT</span></span>
                    </div>
                </ul>

                <div class="contents clearfix" style="width: 100%;">

                    <div id="active" style="display: none;">
                      <div class="project-header">
                        <h3 class="comments_title" style="text-align:left;margin-left:20px;margin-top:20px;">Active Campaigns</h3>
                        <hr />
                      </div>
                      <div class="project-content">
                        <p>This list contains active campaigns with team boards.</p>
                        <div class="krown-id-grid default clearfix" style="position: relative;">
                          {{#each activeCamps}}
                            {{#if isCreated}}
                            {{> settingsTab}}
                            {{else}}
                            {{> approvedTab}}
                            {{/if}}
                          {{else}}
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <h5 id="no_camps_1">NO CAMPAIGNS TO SHOW</h5>
                          {{/each}}
                        </div>
                      </div>
                    </div>

                    <div id="merchant" style="display: none;">
                      <div class="project-header">
                        <h3 class="comments_title" style="text-align:left;margin-left:20px;margin-top:20px;">Merchant Center</h3>
                        <br>
                        <div class="krown-alert info betatest"> Transactions are provided by <a href="https://stripe.com">Stripe</a>. For more information visit https://stripe.com for details including their <a href="https://stripe.com/us/legal">terms &amp; conditions</a>.</div>
                        <hr />
                      </div>   
                      <div class="project-content">
                        {{#if account}}
                        {{#unless bank}}
                        <p>Link your bank account to receive transfers from all your incoming funds.</p>
                          <section>
                              <hr />
                              <div class="row">
                                <div style="width:100%">
                                  <div class="panel panel-default">
                                    <div class="panel-body">
                                      <form>
                                        <div class="errors"></div>
                                        <div class="row">
                                          <div class="col-md-8">
                                            <div class="form-group">
                                              <label>Country</label>
                                              <select class="form-control input-lg" id="country" data-stripe="country">
                                                <option value="US">United States</option>
                                                <option value="AU">Australia</option>
                                                <option value="AT">Austria</option>
                                                <option value="BE">Belgium</option>
                                                <option value="BR">Brazil</option>
                                                <option value="CA">Canada</option>
                                                <option value="DK">Denmark</option>
                                                <option value="FI">Finland</option>
                                                <option value="FR">France</option>
                                                <option value="DE">Germany</option>
                                                <option value="HK">Hong Kong</option>
                                                <option value="IE">Ireland</option>
                                                <option value="IT">Italy</option>
                                                <option value="JP">Japan</option>
                                                <option value="LU">Luxembourg</option>
                                                <option value="MX">Mexico</option>
                                                <option value="NZ">New Zealand</option>
                                                <option value="NL">Netherlands</option>
                                                <option value="NO">Norway</option>
                                                <option value="PT">Portugal</option>
                                                <option value="SG">Singapore</option>
                                                <option value="ES">Spain</option>
                                                <option value="SE">Sweden</option>
                                                <option value="CH">Switzerland</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                            <div class="form-group">
                                              <label>Currency</label>
                                              <select class="form-control input-lg" id="currency" data-stripe="currency">
                                                <option value="usd">USD</option>
                                                <option value="aud">AUD</option>
                                                <option value="brl">BRL</option>
                                                <option value="cad">CAD</option>
                                                <option value="eur">EUR</option>
                                                <option value="gbp">GBP</option>
                                                <option value="hkd">HKD</option>
                                                <option value="jpy">JPY</option>
                                                <option value="mxn">MXN</option>
                                                <option value="nzd">NZD</option>
                                                <option value="sgd">SGD</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Full Legal Name</label>
                                              <input class="form-control input-lg account_holder_name" id="account_holder_name" type="text" data-stripe="account_holder_name" placeholder="Jane Doe" autocomplete="off">
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Account Type</label>
                                              <select class="form-control input-lg account_holder_type" id="account_holder_type" data-stripe="account_holder_type">
                                                <option value="individual">Individual</option>
                                                <option value="company">Company</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6" id="routing_number_div">
                                            <div class="form-group">
                                              <label id="routing_number_label">Routing Number</label>
                                              <input class="form-control input-lg bank_account" id="routing_number" type="tel" size="12" data-stripe="routing_number" placeholder="111000025" autocomplete="off" >
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label id="account_number_label">Account Number</label>
                                              <input class="form-control input-lg bank_account" id="account_number" type="tel" size="20" data-stripe="account_number" placeholder="000123456789" autocomplete="off">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-xs-12">
                                            <button class="btn btn-lg btn-block btn-success submit" type="submit" id="add_account">LINK ACCOUNT</button>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </section>
                          {{else}}
                          <section>
                            <div class="bs-callout bs-callout-info" id="callout-glyphicons-location"> 
                              <h4 style="margin-top: 20px;">Account Transfer Details</h4> 
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Bank Name</th>
                                      <th>Account No.</th>
                                      <th>Routing No.</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th>{{bank_name}}</th>
                                      <th>{{account_no}}</th>
                                      <th>{{routing_no}}</th>
                                      <th><i class="glyphicon glyphicon-ok-sign"></i> Good</th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <p style="margin-top: 20px;">Click <strong>RESET</strong> to reset your transfer settings.</p> 
                              <a class="button reset_transfer">RESET TRANSFER SETTINGS</a>
                            </div>
                          </section>
                        {{/unless}}
                        {{else}}
                        {{createAccount}}
                        {{/if}}
                        <p>&nbsp;</p>
                        <a href="/receipts" class="btn btn-lg btn-primary col-xs-12 margin_bottom40" style="width:100%">View transactions history</a>

                        <p>&nbsp;</p>
                        <h4>SOLD MERCHANDISE</h4>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                  <tr>
                                    <th>Purchaser (email)</th>
                                    <th>Item Name</th>
                                    <th>Amount</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody id="gift-table">
                                  {{#each giftPurchases}}
                                    <tr class="gift-val">
                                      <td>{{this.token.user.name}} ({{this.email}})</td>
                                      <td>{{this.gift.name}}</td>
                                      <td>{{this.amount}}</td>
                                      <td>{{this.address}}<br>{{this.city}}, {{this.state}} {{this.zip}}</td>
                                      <td>{{purchaseStatus}}</td>
                                      <td>{{#if this.status}}<button class="removesales button small special">REMOVE ITEM</button>{{else}}<button class="markfulfilled button small special">MARK FULFILLED</button>{{/if}}</td>
                                    </tr>
                                  {{else}}
                                  <tr colspan="6">None</tr>
                                  {{/each}}
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>

                    <div id="equity" style="display: none;">
                      <div class="project-header">
                        <h3 class="comments_title" style="text-align:left;margin-left:20px;margin-top:20px;">Your Campaign Holdings</h3>
                        <hr />
                      </div>   
                      <div class="project-content">
                        <p>This list contains finished campaigns where you own a portion of distribution interests.</p>
                        <div class="krown-id-grid default clearfix" style="position: relative;">
                          {{#each equityCamps}}
                            {{> equityTab}}
                          {{else}}
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <h5 id="no_camps_0">NO CAMPAIGNS TO SHOW</h5>
                          {{/each}}
                        </div>
                      </div>
                    </div>

                    <div id="pending" style="display: none;">
                      <div class="project-header">
                        <h3 id="comments-title00-messages" class="comments_title" style="text-align:left;margin-left:20px;margin-top:20px;">Your Active Negotiations</h3>
                        <hr />
                      </div>
                      <div class="project-content">
                        <ol id="comments-list">

                          {{#each messages}}
                          <li class="comment clearfix container" style="padding-bottom:60px">

                                <div class="comment-avatar"><img alt="avatar" src="{{this.ownerAvatar}}" srcset="{{this.ownerAvatar}}" class="avatar avatar-65 photo avatar-default" height="65" width="65"></div>

                                <div class="comment-content row">

                                    <div class="comment-meta clearfix col-xs-12 col-sm-9">

                                        <h6 class="comment-title">{{this.ownerName}}</h6>
                                        <span class="comment-date">{{this.createdAt}}</span>
                                        <span class="comment-date" style="margin-top:10px;word-break:break-word;width:100px;">campaign:<br>{{this.title}}</span>
                                        {{textify}}

                                    </div>

                                    <a href="/message/project/{{ this.slug }}/{{ this.user }}" class="button special" style="margin-top:30px;display:table-caption;">NEGOTIATE</a>

                                </div>
                          </li>
                          {{else}}
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <p>&nbsp;</p>
                          <h5>NO NEGOTIATIONS TO SHOW</h5>
                          {{/each}}
                        </ol>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Wrapper End -->
    </div>

    <!-- Main Wrapper End -->
  </div>
  <script type="text/javascript" src="/js/scripts.min.js"></script>
</template>