<template name="commentBox">
  <div id="respond" class="comment-respond">
    {{#if currentUser}}
      <h4 id="reply-title" class="comment-reply-title">Write a comment</h4>
      <form class="comment-form">
          <div class="krown-column-container span12 last" style="margin-left:0">
              <label for="comment">Your Comment</label>
              <textarea id="comment-box" name="comment" rows="8"></textarea>
          </div>
          <p class="form-submit">
              <input name="submit" type="submit" id="submit-comment" class="submit" value="Post Comment">
          </p>
      </form>
    {{else}}
      <h4 id="reply-title" class="comment-reply-title">Sign-in to comment</h4>
    {{/if}}
  </div>
</template>

<template name="messageBox">
  <br>
    <div class="col-sm-12" style="padding-right:0px !important">
      <div class="panel panel-default" style="background: transparent;">
        <div class="panel-heading">
          Write a message
          <p class='pull-right'><span class="text-muted">Markdown Supported</span>&nbsp;<a href='/markdown' target="_blank"><span class='glyphicon glyphicon-info-sign'></span></a></p>
        </div>
      <div class="panel-body">
    <textarea type="text" id="message-box" placeholder="What do you want to say or offer?"></textarea><br>
    <button id="submit-message" type="submit" class="btn btn-primary pull-right">Comment</button>
    </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
    </div>
</template>

<template name="comment">
  <li class="comment clearfix">
      <div class="comment-avatar custom-shape hexagon-small"><img alt="" src="{{ownerAvatar}}" class="avatar avatar-65 photo" height="65" width="65"></div>
      <div class="comment-content">
          <div class="comment-meta clearfix">
              <h6 class="comment-title"><a href="/profile/{{ownerId}}">{{ownerName}}</a></h6>
              <span class="comment-date">{{createdAt}}</span>
          </div>
          <div class="comment-text">
              {{#markdown}}{{text}}{{/markdown}}
          </div>
      </div>
  </li>
</template>